<!-- ----Text part--- -->
<section class="page-section" data-action="srv-9">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items">
      <h1 class="page-header">
        <span class="page-header-icon"><img src="/src/images/icons_services/2_bl.png" /></span>
        <span class="page-title">ДОСТАВКА ПО УКРАЇНІ</span>
      </h1>
      <p class="page-text">Адресний забір та доставка між містами Київ, Львів, Харків, Одеса, Дніпро:</p>
      <p class="page-text"><strong>Документів:</strong></p>
      <ul class="page-text_wrapper">
        <li><p class="page-text">До 1 кг - 101 грн. </p></li>
        <!-- <li><p class="page-text">EXPRESS - до 1 кг - 192 грн. Термін доставки - наступний робочий день до 13:00.</p></li>
        <li><p class="page-text">"День в день" - до 1 кг - 292 грн - того ж дня.</p></li> -->
      </ul>
      <p class="page-text"><strong>Посилок:</strong></p>
      <ul class="page-text_wrapper">
        <li><p class="page-text">2 кг - 146 грн.</p></li>
        <li><p class="page-text">10 кг - 164 грн. </p></li>
        <!-- <li><p class="page-text">"День в день" - до 1 кг - 292 грн - того ж дня.</p></li> -->
      </ul>
      <p class="page-text"><strong>Вантажів:</strong></p>
      <ul class="page-text_wrapper">
        <li><p class="page-text">100 кг -  від 897 грн..</p></li>
        <!-- <li><p class="page-text">До 30 кг - 324 грн.</p></li>
        <li><p class="page-text">Термін дсотавки - наступний день до 18:00.</p></li> -->
      </ul>
      <p class="page-text">Термін доставки в/з Києва - наступний робочий день </p>
      <p class="page-text">Виклик кур’єра надається за багатоканальною лінією телефонів Call-центра компанії, а також використовуючи <a
          href="#"
          target="_blank"><strong>форму виклика кур’єра</strong></a> на сайті в онлайн режимі.</p>

      <!-- <p class="page-text"><a href="#"
          target="_blank">Викликати кур'єра онлайн</a></p> -->
      
      <!-- <p><a href="#" target="_blank">Укласти угоду та скористатися послугами</a>
      </p> -->
    </div>
    <include src="./partials/card_items.html"></include>
  </div>
</section>

