
/* ========= Кнопки ======== */
.button {
  // font-family: inherit;
  font-family: var(--second-fonts-family);
  cursor: pointer;
  margin: 0 auto;
  border: 0;
  background-color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.18;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 2px;
  /* ---анимация--- */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfbfb;
  padding: 15px 30px;
  gap: 10px;
}

.button-header:hover {
  background-color: var(--footer-bg-color);
}

.button-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  font-size: 18px;
  color: #fbfbfb;
  // font-family: var(--second-fonts-family);
  gap: 10px;
}

.button-footer:hover {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.button-footer:focus {
  border: 1px;
  border-color: #CCCCCC;
}


// .button-feedback {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: #fbfbfb;
//   padding: 15px 30px;
//   gap: 10px;

// }

// .button-feedback:hover {
//   background-color: var(--footer-bg-color);
// }

// .icon-right-feedback {
//   stroke: white;
// }

// .icon-right-feedback:hover {
//   stroke: var(--accent-color);
// }

// @media screen and (max-width: 980px) {
//   .button-feedback {
//     font-size: 16px;
//   }
// }

// @media screen and (max-width: 787px) {
//   .button-feedback {
//     padding: 15px;
//     font-size: 14px;
//   }
// }

// @media screen and (max-width: 430px) {
//   .button-feedback {
//     font-size: 11px;
//   }
// }

// @media screen and (max-width: 340px) {
//   .icon-right-feedback {
//     display: flex;
//   }

//   .button-feedback {
//     margin: 0 auto;
//   }
// }