.add-services_table th {
    background-color: #76b703;
    color: white;
}

.add-services_table-item>tr:hover {
    // background-color: #76b703;
    // color: white;
    background-color: #fafafa;
    color: #374a59;
}

/* Table styling */
.add-services_table {
    border-collapse: collapse;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.add-services_table th,
.add-services_table td {
    padding: 8px;
    border: 1px solid #374a59;
}

body {
    font-family: sans-serif;
}
.agreement-requisites{
    display: none;
}
.main_address-compact {
    display: none;
}

@media screen and (max-width: 980px) {
    // .page-section {
    //     font-size: 16px;
    // }
}

@media screen and (max-width: 787px) {
    .add-services_table {
        font-size: 14px;
    }
}
@media screen and (max-width: 670px){
    .requisites_table, .contacts_table{
        display: none;
    }
    // .agreement-requisites-wrap{
    //     padding-right: 10px;
    // }
    .agreement-requisites, .contacts_table-jpg {
        display: block;
        // width: 50%;
        // margin-right: 5px;
        // margin-left: 5px;
    }
}
@media screen and (max-width: 455px) {
    .add-services_table {
        font-size: 12px;
    }

    // .page-header>.page-header-icon {
    //     padding-right: 10px;
    //     margin-right: 10px;
    //     border-right: 3px solid var(--accent-color);
    // }
}
@media screen and (max-width: 430px) {
    .add-services_table {
        font-size: 11px;
    }
    .main_address{
        display: none;
    }
    .main_address-compact{
        display: block;
    }
}