a {
    text-decoration: none;
    color: #76b703;
}
a:hover {
    text-decoration:dashed;
    color: inherit;
}
.page-section-wrapper {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 30px;
}
.wrap-courier {
    display: block;
}
.wrap-payment{
    display: flex;
    flex-direction: column;
}
// .page-section-items {
//     padding-right: 15px;
// }
.page-header {
    display: flex;
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
}
.page-text_wrapper{
    margin-top: 10px;
    margin-bottom: 20px;
    // text-align: justify;
}
.page-text {
    // text-align: justify;
}
.page-text-items {
    text-align: justify;
}

.page-text-link {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.page-header-icon {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 5px solid #76b703;
}

.page-text-indent_down {
    margin-bottom: 10px;
}




@media screen and (max-width: 980px) {
    .page-section {
        font-size: 16px;
    }
}
 @media screen and (max-width: 787px) {
     .page-section {
         font-size: 14px;
     }
 }
 @media screen and (max-width: 455px) {
     .page-section {
         font-size: 12px;
     }

     .page-header>.page-header-icon {
         padding-right: 10px;
         margin-right: 10px;
         border-right: 3px solid var(--accent-color);
     }
 }
 @media screen and (max-width: 430px) {
     .page-section-wrapper {
         font-size: 11px;
         flex-direction: column;
     }

     .page-section-items {
         padding-right: 0px;
     }
 }