<!-- ----Text part--- -->

<div class="wrapper-main container">
    <section class="col-sm-9">
        <a id="main-content"></a>
        
        <div class="field-items">
          <h1 class="page-header">
            <span class="icon"><img src="/src/images/icons_services/8_bl.png" /></span>
            <span class="title">STANDART</span>
          </h1>
                  <p class="rtejustify">Послуга STANDART кур'єрської служби EXPRESS MOTO діє для
                    нетермінових адресних
                    доставок формата конверт, посилка, вантаж та палета по Україні.</p>
                  <p class="rtejustify">Доставка за послугою STANDART відбувається в/з обласних
                    центрів наступного
                    робочого дня до 18:00, по Києву - наступного робочого дня до 18:00.
                    Відправка між обласними центрами
                    + 1 робочий день. Відправка в необласні центри - до 4 робочих днів.</p>
                  <p class="rtejustify">Послуга STANDART по Україні здійснюється за наступними
                    форматами:</p>
                  <p class="rtejustify"><strong>«Конверт» </strong>- документарне відправлення
                    фактичною або
                    об'ємною вагою до 1 кг, вкладення якого може бути упаковано у фірмовий
                    конверт або поліетиленовий
                    пакет EXPRESS MOTO розміром не більше ніж (ширина - 25, довжина - 35,
                    товщина - 1 см).</p>
                  <p class="rtejustify"><strong>«Посилка» </strong>- відправлення, що складається
                    з 1 місця, фактична або
                    об'ємна вага якого не перевищує 10 кг та максимальна довжина однієї із
                    сторін не більше 35 см.</p>
                  <p class="rtejustify"><strong>«Вантаж»</strong> - відправлення, загальна
                    фактична або об'ємна вага якого
                    не перевищує 1500 кг. Максимальна фактична або об'ємна вага одного місця не
                    перевищує 21 кг, габарит
                    по найбільшій зі сторін окремого місця до 170 см.</p>
                  <p class="rtejustify"><strong>«Палета»</strong> - це цілісне або згруповане
                    відправлення, яке закріплено
                    на піддоні та обгорнуто стрейч-плівкою або іншим матеріалом. Отримайте
                    більше інформації щодо Вашої
                    відправки формату «Палета», cкориставшись багатоканальним телефоном
                    <strong>Call-центру 0 800 503
                      503</strong>.
                  </p>
                  <p class="rtejustify"><a href="#"
                      target="_blank">Тарифи на
                      доставку по Україні</a></p>
                  <p class="rtejustify">Скористайтеся послугою <a
                      href="#"
                      target="_blank"><strong>EXPRESS</strong></a> для відправок
                    формату <strong>«Конверт»
                    </strong>та<strong> «Посилка»</strong>. Послуга забезпечує «термінову
                    доставку» по обласному центру,
                    а також в/з обласних центрів наступного робочого дня до 14:00.</p>
                  <p class="rtejustify">Для доставок документів та конвертів, які вимагають
                    негайного відправлення з
                    отриманням «день у день» cкористайтеся послугою <a
                      href="#"
                      target="_blank"><strong>SUPER EXPRESS</strong> </a>(послуга діє по
                    містам Київ та Дніпро).</p>
                  <p class="rtejustify"><a href="#"
                      target="_blank">Детальна
                      інформація про Доставку по Україні</a></p>
                  <p class="rtejustify"> </p>
                  <p><a href="#" target="_blank">Відстежити онлайн</a>
                  </p>
        </div>
    </section>
    <include src="./partials/card_items.html"></include>
</div>
