<!-- ----Text part--- -->
<section class="page-section" data-action="srv-7">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items">
      <h1 class="page-header">
        <span class="page-header-icon"><img src="/src/images/icons_services/4_bl.png" /></span>
        <span class="page-title">АДРЕСНА РОЗСИЛКА</span>
      </h1>
      <p class="page-text">Будь-яка розсилка відправлень за переліком адрес, наданих відправником.</p>
      <p class="page-text">Передбачається роздруківка накладних з даними відправника та отримувача, що згодом значно заощаджує час на заповнення необхідних документів.</p>
      <p class="page-text">Ви маєте можливість обрати послугу сортування для адресної розсилки. Підрахунок та упаковку для матеріалів, що доставляються  у різних напрямках, ми беремо на себе.</p>
      <p class="page-text">В залежності від складності сортування існує різна тарифікація додаткової послуги.</p>
      <p class="page-text">Термін здійснення доставки в данному випадку збільшується до 1-2 робочих днів, в залежності від складності сортування.</p>
      <!-- <p class="page-text"><strong>«Вантаж»</strong> - відправлення, загальна
        фактична або об'ємна вага якого
        не перевищує 1500 кг. Максимальна фактична або об'ємна вага одного місця не
        перевищує 21 кг, габарит
        по найбільшій зі сторін окремого місця до 170 см.</p> -->
      <!-- <p class="page-text"><strong>«Палета»</strong> - це цілісне або згруповане
        відправлення, яке закріплено
        на піддоні та обгорнуто стрейч-плівкою або іншим матеріалом. Отримайте
        більше інформації щодо Вашої
        відправки формату «Палета», cкориставшись багатоканальним телефоном
        <strong>Call-центру 0 800 503
          503</strong>.
      </p> -->
      <!-- <p class="page-text"><a href="#"
          target="_blank">Тарифи на
          доставку по Україні</a></p>

      <p class="page-text">Для відправлень формата <strong>«Вантаж»</strong> та <strong>«Палета»
        </strong>діє тільки послуга<a
          href="#"
          target="_blank"><strong>STANDART.</strong> </a></p>

      <p class="page-text">Для здійснення «надтермінових доставок» документів та конвертів «день у день» скористайтеся послугою <a
          href="#"
          target="_blank"><strong>SUPER EXPRESS.</strong> </a>Дана послуга діє у містах Київ та Дніпро.</p> -->

      <p class="page-text page-text-link"><a href="#"
          target="_blank">Укласти угоду та скористатися послугами</a></p>
      <!-- <p class="page-text"> </p> -->
      <p class="page-text-link"><a href="#" target="_blank">Відстежити онлайн</a>
      </p>
    </div>
    <include src="./partials/card_items.html"></include>
  </div>
</section>

