<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <!-- <a id="main-content"></a>        -->
    <div class="page-section-items">
      <h1 class="page-header">
        <span class="page-header-icon"><img src="/src/images/icons_services/11_bl.png" /></span>
        <span class="page-title">SUPER EXPRESS</span>
      </h1>
      <p class="page-text">Компанія EXPRESS MOTO надає послугу SUPER EXPRESS для «надтермінових доставок» по місту. До даної послуги відносяться відправки за форматом <strong>«Конверт»</strong> та <strong>«Посилка».</strong> Доставка здійснюється «день в день» при умові оформлення замовлення до 13:00. Після 13:00 послуга здійснюється по узгоженню.</p>
      <p class="page-text"><strong>«Конверт» </strong>- документарне відправлення
        фактичною або
        об'ємною вагою до 1 кг, вкладення якого може бути упаковано у фірмовий
        конверт або поліетиленовий
        пакет EXPRESS MOTO розміром не більше ніж: ширина - 25, довжина - 35,
        товщина - 1 см.</p>
      <p class="page-text"><strong>«Посилка»</strong> та <strong>«Вантаж»</strong> відбувається за індивідуальним тарифом. Докладну інформацію про доставку формату <strong>«Посилка»</strong> та <strong>«Вантаж»</strong>за послугою <strong>SUPER EXPRESS</strong> ви можете дізнатися за телефоном <strong>Call-центра 0 800 503 503.</strong></p>
      <p class="page-text page-text-link"><a href="#"
          target="_blank">Тарифи на
          доставку по Україні</a></p>

      <p class="page-text">Для відправлень формата  <strong>«Конверт»</strong>, <strong>«Посилка»</strong>, <strong>«Вантаж»</strong> та <strong>«Палета»
        </strong>діє послуга<a
          href="#"
          target="_blank"><strong> STANDART.</strong> </a></p>

      <p class="page-text">Скористайтеся послугою <a
          href="#"
          target="_blank"><strong>EXPRESS</strong> </a>для «термінових доставок» формату <strong>«Конверт»</strong>та <strong>«Посилка»</strong>,по обласному центру, а також в/з обласних центрів наступного робочого дня до 14:00.</p>

      <p class="page-text page-text-link"><a href="#"
          target="_blank">Докладніше про Доставку по Україні</a></p>
      <p class="page-text-link"><a href="#" target="_blank">Відстежити онлайн</a>
      </p>
    </div>
    <include src="./partials/card_items.html"></include>
  </div>
</section>

