.wrapper-main {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 30px;
}
.field-items {
    padding-right: 15px;
}
.page-header {
    display: flex;
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
}

.icon {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 5px solid #76b703;
}

.rtejustify {
    text-align: justify;
}



@media screen and (max-width: 980px) {
    .col-sm-9 {
        font-size: 16px;
    }
}

@media screen and (max-width: 430px) {
    .wrapper-main {
        font-size: 11px;
        flex-direction: column;
    }

    .field-items {
        padding-right: 0px;
    }
}
 @media screen and (max-width: 787px) {
     .col-sm-9 {
         font-size: 14px;
     }
 }
 @media screen and (max-width: 455px) {
     .col-sm-9 {
         font-size: 12px;
     }

     .page-header>.icon {
         padding-right: 10px;
         margin-right: 10px;
         border-right: 3px solid var(--accent-color);
     }
 }