<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items">
      <h1 class="page-header">
        <span class="page-header-icon"><img src="/src/images/icons_services/3_bl.png" /></span>
        <span class="page-title">МІЖНАРОДНА ДОСТАВКА</span>
      </h1>
      <p class="page-text">Доставка документів до <strong>Молдови:</strong></p>
      <p class="page-text"><strong>EXPRESS</strong></p>
      <p class="page-text">Тариф – від 1450,0 грн;</p>
      <p class="page-text">Терміни доставки  –  1-2 робочих дні.</p>
      <!-- <p class="page-text">- Доставка в пункт призначення отримувача</p> -->
      <p class="page-text"><strong>STANDART</strong></p>
      <p class="page-text">Тариф – від 510,0 грн;</p>
      <p class="page-text">Терміни доставки  –  5-7 робочих днів;</p>

      <p class="page-text">Доставка документів до <strong>Польщі</strong>– від 800,0 грн;</p>
      <p class="page-text">Терміни доставки  –  3-5 робочих днів;</p>

      <p class="page-text"><strong>Бельгія, Латвія, Литва, Люксембург, Нідерланди, Німеччина, Словаччина, Угорщина,Чехія, Естонія</strong> – від 1250,0 грн.</p>
      <p class="page-text">Терміни доставки  –  5-8 робочих днів.</p>

      <!-- <p class="page-text">За більш детальною інформацією звертайтесь за електронною адресою <a
          href="#"
          target="_blank"><strong>sales@exmoto.com.</strong> </a></p> -->

      <!-- <p class="page-text"><a href="#"
          target="_blank">Викликати кур'єра онлайн</a></p> -->
      <!-- <p class="page-text"> </p> -->
      <!-- <p><a href="#" target="_blank">Укласти угоду та скористатися послугами</a>
      </p> -->
    </div>
    <include src="./partials/card_items.html"></include>
  </div>
</section>

