<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <!-- <a id="main-content"></a>        -->
    <div class="page-section-items wrap-payment">
      <h1 class="page-header">
        <!-- <span class="page-header-icon"><img src="/src/images/icons_services/2_bl.png" /></span> -->
        <span class="page-title">КОНТАКТИ</span>
      </h1>
      

      <!-- ТАБЛИЦЯ 1-->
      <!-- <table class="add-services_table">
        <thead>
          <tr>
            <th>Послуга</th>
            <th>Примітка</th>
          </tr>
        </thead>

        <tbody class="add-services_table-item">
          <tr>
            <td><strong>Доставка "особисто в руки" (Послуга поза сервісних гарантій):</strong></td>
            <td>Послуга діє для міжнародних відправлень так і для відправлень у межах України   за послугою "Експрес". Обов'язковим є наявність мобільного номеру телефона отримувача.<br>
              Надання доставки в зазначений час за узгодженням.</td>
          </tr>
          <tr>
            <td><strong>Переадресування відправлення​:</strong></td>
            <td>Послуга діє для міжнародних відправлень так і для відправлень у межах України та складає 100% від вартості відправлення.</td>
          </tr>
          <tr>
            <td><strong>Оголошена вартість:</strong></td>
            <td>Оголошена вартість вказується у накладній в гривнях з ПДВ.<br>
              Максимальна оголошена вартість відправлення до 100 000 грн з ПДВ.<br>
              При відправленні оціночною вартістю більш ніж 9999 грн з ПДВ потрібні документи, які підтверджують вартість відправлення (це може бути чек або видаткова накладна з мокрою печаткою).<br>
              0-200 грн - без коміссії.<br>
              від 200 грн - 1%<br>
              Відправлення - 200 грн та вище, нараховується додатковий тариф у розмірі:<br>
              Міжнародні відправлення: 3% від оголошеної вартості;<br>
              По Україні: 1% від оголошеної вартості.
            </td>
          </tr>   
        </tbody>
      </table> -->


      <!-- ТАБЛИЦЯ 1-->
      <p class="page-text"><strong>Головний офіс:</strong></p>
      <table class="add-services_table">

        <tbody class="add-services_table-item">
          <tr>
            <td><strong>Київ</strong></td>
            <td><strong>вул.Кемеровська,1</strong></td>
            <td>0-800-503-503, +380442988550, +380931770226,+380931700751
          </tr>
        </tbody>
      </table>

      <p class="page-text">E-mail: <a href="mailto:sales@exmoto.com">sales@exmoto.com</a>
      </p>
      <p class="page-text">Офіційний сайт компанії:<a href="https://exmoto.com/" target="_blank">www.exmoto.com</a></p>

      <p class="page-text"><strong>Адреси представництв EXPRESS MOTO <a href="/src/images/pdf/officeAdresses.pdf" target="_blank">Переглянути</a></strong></p>

      <!-- ТАБЛИЦЯ 2-->
      <table class="add-services_table">
        <thead>
          <tr>
            <th><strong>Регіон</strong></th>
            <th><strong>Приймання замовлень</strong></th>
            <th><strong>Робота офісу</strong></th>
            <th><strong>Адреса</strong></th>
            <th><strong>Телефон</strong></th>
          </tr>
        </thead>

        <tbody class="add-services_table-item">
          <tr>
            <td><strong>Вінниця</strong></td>
            <td>09:00 -12:00</td>
            <td>за узгодженням</td>
            <td>вулиця Ісмаїла Гаспринського, 10</td>
            <td>0992303964, 0933121266</td>
          </tr>
          <tr>
            <td><strong>Дніпро</strong></td>
            <td>09:00 -14:00</td>
            <td>09:00- 15:00</td>
            <td>вулиця Кринична, 31</td>
            <td>0661688259</td>
          </tr>
          <tr>
            <td><strong>Житомир</strong></td>
            <td>попередньо зателефонувавши</td>
            <td></td>
            <td></td>
            <td>0937629975, 0967578171</td>
          </tr>
          <tr>
            <td><strong>Запоріжжя</strong></td>
            <td>09:00 -13:00 ПН, СР, ПТ</td>
            <td>09:00-16:00</td>
            <td>вулиця Якова Новицького, 10, 1</td>
            <td>0676111142</td>
          </tr>
          <tr>
            <td><strong>Івано-Франківськ</strong></td>
            <td>10:00-13:00</td>
            <td>за узгодженням</td>
            <td>вулиця Північний бульвар,3</td>
            <td>0988310329</td>
          </tr>
          <tr>
            <td><strong>Вінниця</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Переадресування відправлення​:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Оголошена вартість:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Переадресування відправлення​:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Оголошена вартість:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Вінниця</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Переадресування відправлення​:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Оголошена вартість:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Переадресування відправлення​:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Оголошена вартість:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Вінниця</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Переадресування відправлення​:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Оголошена вартість:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Переадресування відправлення​:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
          <tr>
            <td><strong>Оголошена вартість:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr> 
          
          <tr>
            <td><strong>Оголошена вартість:</strong></td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
            <td>09:00 -12:00</td>
          </tr>
        </tbody>
      </table>

  
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px"></span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">10:00-13:00</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px"></span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px"></span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px"></span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Кропивницький</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00 -12:00</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">за узгодженням</span></td>
<td class="rtecenter" style="width:322px">&nbsp;</td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0672238236</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Кременчуг</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00 -12:00 ВТ, ЧТ</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">за узгодженням</span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px">вулиця Ігоря Сердюка, 47</span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0677517075</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Кривий Ріг</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00 -12:00&nbsp;</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">за узгодженням</span></td>
<td class="rtecenter" style="width:322px">&nbsp;</td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0679397721</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Луцьк</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00 -12:00</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">за узгодженням</span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px">вулиця Ковельська, 68А</span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0505298766</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Львівська обл., Львівський район, с. Малехів</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00-14:00 (за узгодженням)</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">попередньо зателефонувавши</span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px">вулиця Поліська, 6</span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0732693376, 0974442832</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Одеса</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">10:00 -14:00 (за узгодженням)</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">&nbsp;&nbsp;&nbsp; 10:00- 15:00</span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px">вулиця Новомосковська дорога, 5</span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0952303022</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Полтава</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">попередньо зателефонувавши</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">за узгодженням</span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px">вулиця Вільямса, 1</span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0675354014</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Ровно</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00-14:00</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">за узгодженням</span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px">вулиця Пересопницька, 150</span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0687703575</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Суми</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00 -12:00</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">за узгодженням</span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px">вулиця Рибалка, 2</span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0509773439</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Тернопіль</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00 -12:00</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">за узгодженням</span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px">вулиця Медова, 3</span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0677130495</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Ужгород</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00 -12:00</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">за узгодженням</span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px">вулиця Мукачівська, 25</span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0505262962</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Харків</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00 -13:00 (за узгодженням)</span></td>
<td class="rtecenter" style="width:243px">&nbsp;</td>
<td class="rtecenter" style="width:322px">&nbsp;</td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0994531389</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Черкаси</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00 -12:00</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">за узгодженням</span></td>
<td class="rtecenter" style="width:322px">&nbsp;</td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0632754672</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Чернігів</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00 -13:00</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">11:00 -15:00</span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px">вулиця Любецька, 9а</span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0936757904</span></td>
</tr><tr><td class="rtecenter" style="width:466px"><span style="font-size:20px">Хмельницький</span></td>
<td class="rtecenter" style="width:1px"><span style="font-size:20px">09:00 -12:00 ПН, СР, ПТ</span></td>
<td class="rtecenter" style="width:243px"><span style="font-size:20px">за узгодженням</span></td>
<td class="rtecenter" style="width:322px"><span style="font-size:20px">вулиця Шевченка, 64</span></td>
<td class="rtecenter" style="width:244px"><span style="font-size:20px">0672547910</span></td>
</tr></tbody></table><p><span style="font-size:20px">E-mail: <a href="mailto:sales@exmoto.com">sales@exmoto.com</a></span></p>
<p><span style="font-size:20px"><a href="https://exmoto.com/" target="_blank">www.exmoto.com</a></span></p>
<p>&nbsp;</p>
<p><span style="font-size:14px"><strong>PAKLINE GROUP</strong> – провідний оператор 3PL</span></p>
<p><span style="font-size:14px"><a href="https://pakline-group.com.ua/" target="_blank">www.pakline-group.com.ua</a></span></p>
</div></div></div>    </article>

</section>
  </div>
      <!-- <p class="page-text"><strong>Увага!</strong></p>
      <p class="page-text">Перерахування по розрахунковому рахунку (IBAN) здійснюється тільки після отримання номеру замовлення співробітником Колл-центру за телефоном 0 800 503 503 або іншим зручним способом.<strong>Обов'язково вкажіть номер замовлення у рядку "Призначення платежу".</strong></p>
      <p class="page-text page-text-link">Реквізити для оплати<a href="#"
          target="_blank">Завантажити</a></p>
      <img alt="" height="291" src="/src/images/payment/account_ukr_1.jpg" style="float:left" width="380">
      <p class="page-text">Способи оплати:</p>
      <p class="page-text"><strong>1. ПриватБанк</strong></p>
      <p class="page-text">Використовуйте Термінали самообслуговування та сервіс Приват 24 для онлайн-оплати банківською платіжною карткою Visa/MasterCard.</p>
      <p class="page-text">Термінали ПриватБанку.<a
          href="#"
          target="_blank"><strong>Карта</strong> </a></p>
      <p class="page-text">Інструкції по оплаті за розрахунковим рахунком:</p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через термінал ПриватБанку</strong> </a></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через Приват24 (ноутбук, комп’ютер)</strong> </a></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через мобільний додаток Приват24</strong> </a></p>
      <p class="page-text"><strong>2. Portmone</strong></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Перехід на сторінку</strong> </a></p> -->

      <!-- <p class="page-text page-text-link"><a href="#"
          target="_blank">Викликати кур'єра онлайн</a></p> -->
      
      <!-- <p class="page-text-link"><a href="#" target="_blank">Укласти угоду та скористатися послугами</a>
      </p> -->
    </div>
    <!-- <include src="./partials/card_items.html"></include> -->
  </div>
</section>

