<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <!-- <a id="main-content"></a>        -->
    <div class="page-section-items wrap-payment">
      <h1 class="page-header">
        <!-- <span class="page-header-icon"><img src="/src/images/icons_services/2_bl.png" /></span> -->
        <span class="page-title">КОНТАКТИ</span>
      </h1>
      

      <!-- ТАБЛИЦЯ 1-->
      <!-- <table class="add-services_table">
        <thead>
          <tr>
            <th>Послуга</th>
            <th>Примітка</th>
          </tr>
        </thead>

        <tbody class="add-services_table-item">
          <tr>
            <td><strong>Доставка "особисто в руки" (Послуга поза сервісних гарантій):</strong></td>
            <td>Послуга діє для міжнародних відправлень так і для відправлень у межах України   за послугою "Експрес". Обов'язковим є наявність мобільного номеру телефона отримувача.<br>
              Надання доставки в зазначений час за узгодженням.</td>
          </tr>
          <tr>
            <td><strong>Переадресування відправлення​:</strong></td>
            <td>Послуга діє для міжнародних відправлень так і для відправлень у межах України та складає 100% від вартості відправлення.</td>
          </tr>
          <tr>
            <td><strong>Оголошена вартість:</strong></td>
            <td>Оголошена вартість вказується у накладній в гривнях з ПДВ.<br>
              Максимальна оголошена вартість відправлення до 100 000 грн з ПДВ.<br>
              При відправленні оціночною вартістю більш ніж 9999 грн з ПДВ потрібні документи, які підтверджують вартість відправлення (це може бути чек або видаткова накладна з мокрою печаткою).<br>
              0-200 грн - без коміссії.<br>
              від 200 грн - 1%<br>
              Відправлення - 200 грн та вище, нараховується додатковий тариф у розмірі:<br>
              Міжнародні відправлення: 3% від оголошеної вартості;<br>
              По Україні: 1% від оголошеної вартості.
            </td>
          </tr>   
        </tbody>
      </table> -->


      <!-- ТАБЛИЦЯ 1-->
      <p class="page-text"><strong>Головний офіс:</strong></p>
      <table class="add-services_table main_address">
        <tbody class="add-services_table-item">
          <tr>
            <td><strong>Київ</strong></td>
            <td><strong>вул.Кемеровська,1</strong></td>
            <td>0-800-503-503, +380442988550, +380931770226, +380931700751
          </tr>
        </tbody>
      </table>
      <!-- <table class="add-services_table  main_address-compact">
        <tbody class="add-services_table-item">
          <tr>
            <td><strong>Київ</strong></td>
            <td><strong>вул.Кемеровська,1</strong></td>
            <td>0-800-503-503,<br> +380442988550, <br>+380931770226, <br>+380931700751
          </tr>
        </tbody>
      </table> -->

      <p class="page-text">E-mail: <a href="mailto:sales@exmoto.com">sales@exmoto.com</a>
      </p>
      <p class="page-text">Офіційний сайт компанії:<a href="https://exmoto.com/" target="_blank"> www.exmoto.com</a></p>

      <p class="page-text"><strong>Адреси представництв EXPRESS MOTO <a href="/src/images/pdf/officeAdresses.pdf" target="_blank">Переглянути</a></strong></p>

      <!-- ТАБЛИЦЯ 2-->
      <table class="add-services_table contacts_table">
        <thead>
          <tr>
            <th><strong>Регіон</strong></th>
            <th><strong>Приймання замовлень</strong></th>
            <th><strong>Робота офісу</strong></th>
            <th><strong>Адреса</strong></th>
            <th><strong>Телефон</strong></th>
          </tr>
        </thead>

        <tbody class="add-services_table-item">
          <tr>
            <td><strong>Вінниця</strong></td>
            <td>09:00 -12:00</td>
            <td>за узгодженням</td>
            <td>вулиця Ісмаїла Гаспринського, 10</td>
            <td>0992303964, <br>0933121266</td>
          </tr>
          <tr>
            <td><strong>Дніпро</strong></td>
            <td>09:00 -14:00</td>
            <td>09:00- 15:00</td>
            <td>вулиця Кринична, 31</td>
            <td>0661688259</td>
          </tr>
          <tr>
            <td><strong>Житомир</strong></td>
            <td>попередньо <br>зателефонувавши</td>
            <td></td>
            <td></td>
            <td>0937629975, <br>0967578171</td>
          </tr>
          <tr>
            <td><strong>Запоріжжя</strong></td>
            <td>09:00 -13:00 ПН, СР, ПТ</td>
            <td>09:00-16:00</td>
            <td>вулиця Якова Новицького, 10, 1</td>
            <td>0676111142</td>
          </tr>
          <tr>
            <td><strong>Івано-Франківськ</strong></td>
            <td>10:00-13:00</td>
            <td>за узгодженням</td>
            <td>вулиця Північний бульвар,3</td>
            <td>0988310329</td>
          </tr>
          <tr>
            <td><strong>Кропивницький</strong></td>
            <td>09:00 -12:00</td>
            <td>за узгодженням</td>
            <td></td>
            <td>0672238236</td>
          </tr>
          <tr>
            <td><strong>Кременчуг</strong></td>
            <td>09:00 -12:00 ВТ, ЧТ</td>
            <td>за узгодженням</td>
            <td>вулиця Ігоря Сердюка, 47</td>
            <td>0677517075</td>
          </tr>
          <tr>
            <td><strong>Кривий Ріг</strong></td>
            <td>09:00 -12:00</td>
            <td>за узгодженням</td>
            <td></td>
            <td>0679397721</td>
          </tr>
          <tr>
            <td><strong>Луцьк</strong></td>
            <td>09:00 -12:00</td>
            <td>за узгодженням</td>
            <td>вулиця Ковельська, 68А</td>
            <td>0505298766</td>
          </tr>
          <tr>
            <td><strong>Львівська обл., <br> Львівський район, <br> с. Малехів</strong></td>
            <td>09:00-14:00 <br>(за узгодженням)</td>
            <td>попередньо <br>зателефонувавши</td>
            <td>вулиця Поліська, 6</td>
            <td>0732693376,<br> 0974442832</td>
          </tr>
          <tr>
            <td><strong>Одеса</strong></td>
            <td>10:00 -14:00 <br>(за узгодженням)</td>
            <td>10:00- 15:00</td>
            <td>вулиця Новомосковська дорога, 5</td>
            <td>0952303022</td>
          </tr>
          <tr>
            <td><strong>Полтава</strong></td>
            <td>попередньо <br>зателефонувавши</td>
            <td>за узгодженням</td>
            <td>вулиця Вільямса, 1</td>
            <td>0675354014</td>
          </tr>
          <tr>
            <td><strong>Ровно</strong></td>
            <td>09:00 -14:00</td>
            <td>за узгодженням</td>
            <td>вулиця Пересопницька, 150</td>
            <td>0687703575</td>
          </tr>
          <tr>
            <td><strong>Суми</strong></td>
            <td>09:00 -12:00</td>
            <td>за узгодженням</td>
            <td>вулиця Рибалка, 2</td>
            <td>0509773439</td>
          </tr>
          <tr>
            <td><strong>Тернопіль</strong></td>
            <td>09:00 -12:00</td>
            <td>за узгодженням</td>
            <td>вулиця Медова, 3</td>
            <td>0677130495</td>
          </tr>
          <tr>
            <td><strong>Ужгород</strong></td>
            <td>09:00 -12:00</td>
            <td>за узгодженням</td>
            <td>вулиця Мукачівська, 25</td>
            <td>0505262962</td>
          </tr>
          <tr>
            <td><strong>Харків</strong></td>
            <td>09:00 -13:00 </td>
            <td>за узгодженням</td>
            <td></td>
            <td>0994531389</td>
          </tr>
          <tr>
            <td><strong>Черкаси</strong></td>
            <td>09:00 -12:00</td>
            <td>за узгодженням</td>
            <td></td>
            <td>0632754672</td>
          </tr>
          <tr>
            <td><strong>Чернігів</strong></td>
            <td>09:00 -13:00</td>
            <td>11:00 -15:00</td>
            <td>вулиця Любецька, 9а</td>
            <td>0936757904</td>
          </tr>
          <tr>
            <td><strong>Хмельницький</strong></td>
            <td>09:00 -12:00 ПН, СР, ПТ</td>
            <td>за узгодженням</td>
            <td>вулиця Шевченка, 64</td>
            <td>0672547910</td>
          </tr> 
        </tbody>
      </table>
      <img class="contacts_table-jpg " src="/src/images/contacts/contacts_table.jpg" alt="">

<p>E-mail: <a href="mailto:sales@exmoto.com">sales@exmoto.com</a></p>
<p><a href="https://exmoto.com/" target="_blank">www.exmoto.com</a></p>

<p><strong>PAKLINE GROUP</strong> – провідний оператор 3PL</p>
<p><a href="https://pakline-group.com.ua/" target="_blank">www.pakline-group.com.ua</a></p>


</section>
  </div>
      <!-- <p class="page-text"><strong>Увага!</strong></p>
      <p class="page-text">Перерахування по розрахунковому рахунку (IBAN) здійснюється тільки після отримання номеру замовлення співробітником Колл-центру за телефоном 0 800 503 503 або іншим зручним способом.<strong>Обов'язково вкажіть номер замовлення у рядку "Призначення платежу".</strong></p>
      <p class="page-text page-text-link">Реквізити для оплати<a href="#"
          target="_blank">Завантажити</a></p>
      <img alt="" height="291" src="/src/images/payment/account_ukr_1.jpg" style="float:left" width="380">
      <p class="page-text">Способи оплати:</p>
      <p class="page-text"><strong>1. ПриватБанк</strong></p>
      <p class="page-text">Використовуйте Термінали самообслуговування та сервіс Приват 24 для онлайн-оплати банківською платіжною карткою Visa/MasterCard.</p>
      <p class="page-text">Термінали ПриватБанку.<a
          href="#"
          target="_blank"><strong>Карта</strong> </a></p>
      <p class="page-text">Інструкції по оплаті за розрахунковим рахунком:</p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через термінал ПриватБанку</strong> </a></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через Приват24 (ноутбук, комп’ютер)</strong> </a></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через мобільний додаток Приват24</strong> </a></p>
      <p class="page-text"><strong>2. Portmone</strong></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Перехід на сторінку</strong> </a></p> -->

      <!-- <p class="page-text page-text-link"><a href="#"
          target="_blank">Викликати кур'єра онлайн</a></p> -->
      
      <!-- <p class="page-text-link"><a href="#" target="_blank">Укласти угоду та скористатися послугами</a>
      </p> -->
    </div>
    <!-- <include src="./partials/card_items.html"></include> -->
  </div>
</section>

