<!-- FEEDBACK -->
      <section class="feedback-section section">
          <div class="container feedback_main"> 
            <div >
              <h2 class="feedback_title lng-section-clients">НАШІ КЛІЄНТИ</h2>
            </div>           
            <!-- Slider main container -->
            <div class="feedback-swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"> 
                  <div class="feedback__descr">
                    <!-- 1====== -->
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/watsons.jpg" alt="">
                    </div>
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/corteva_0.jpg" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/danisco.jpg" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/logo_admitad_0.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/euam_logo_background.png" alt="">
                    </div>
                   
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/israel_1.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/logo-smart-png-10-1.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/gefest-group.jpg" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/unops.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/logo-funberry.jpg" alt="">
                    </div>
                  </div>
                </div>

                <!-- 2====== -->
                <div class="swiper-slide">
                  <div class="feedback__descr">
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/logo_avk.png" alt="">
                    </div>

                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/logo_muraha.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/winetime.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/ebs_logo.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/sirius.png" alt="">
                    </div>
                   
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/974537_company_logo_3.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/product-kingston-technology_.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/as.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/99423_company_logo_2.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/116820_company_logo_1.png" alt="">
                    </div>
                  </div>
                </div>

                <!-- 3====== -->
                <div class="swiper-slide">
                  <div class="feedback__descr">
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/2000px-ibm_logo.svg_.png" alt="">
                    </div>

                    <div class="feedback__item-img-wrap">
                      <img src="images/icons_feedback/barvinok.jpg" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/castrol-logo-tight.png.img_.3840.medium.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/348181_company_logo_2.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/pricewaterhousecoopers_logo_1.png" alt="">
                    </div>
                   
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/oracle.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/ms.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/logo_savservice.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/unicef_logo.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/allergan_plc.svg_.png" alt="">
                    </div>
                  </div>
                </div>

                <!-- 4====== -->
                <div class="swiper-slide">
                  <div class="feedback__descr">
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/havas_engage.png" alt="">
                    </div>
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/promotion.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/2000px-astellas_logo.svg_.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/arterium.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/ernst_young_1.png" alt="">
                    </div>
                   
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/lactalis.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/colgate-palmolive-cl-logo_0.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/groupeseb_0.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/microsoft.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/johnsons_0.png" alt="">
                    </div>
                  </div>
                </div>

                <!-- 5====== -->
                <div class="swiper-slide">
                  <div class="feedback__descr">
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/oriflame-logo.png" alt="">
                    </div>
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/electrolux_2015.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/univest-print.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/precoro.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/ukrplastic.png" alt="">
                    </div>
                   
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/1200px-danfoss_logo.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/ufa-logo.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/paradigm_group.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/adama.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/logo-jungheinrich.png" alt="">
                    </div>
                  </div>
                </div>
                
                <!-- 6====== -->
                <div class="swiper-slide">
                  <div class="feedback__descr">
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/dupont.svg_.png" alt="">
                    </div>
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/janssen-new-logo.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/oracle_1.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/ketchup_logo_1.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/pioneer_dupont_logo.png" alt="">
                    </div>
                   
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/eh.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/lapti.png" alt="">
                    </div>
                    
                    <div class="feedback__item-img-wrap">
                      <img class="feedback__item-img" src="images/icons_feedback/ariston.png" alt="">
                    </div>
                  </div>
                </div>
              </div> 
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>

              <!-- If we need navigation buttons -->
              <!-- <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div> -->

              <!-- If we need scrollbar -->
              <!-- <div class="swiper-scrollbar"></div> -->
            </div> 
            <!-- <button class="button button-feedback" type="submit">
                  <svg  class="icon-right-feedback" width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M23 12H5"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M17 6L23 12L17 18"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span class="lng-section-clients-recomend">Нас рекомендують</span>
            </button> -->
          </div>
      </section>