<!-- SERVICE -->
      <section class="hero-services-section section">
        <div class="container services-container">
          <ul class="service-list list">
            <li class="card-item">
              <a href="#" class="service-item car_kyev">
                <div class="service-content">
                  <h2 class="service-content-title lng-kiyv-deliv">Доставка по Києву</h2>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a href="#" class="service-item car_ukraine">
                <div class="service-content">
                  <h2 class="service-content-title lng-ukr-deliv">Доставка по Україні</h2>
                </div>
              </a>
            </li> 
            <li class="card-item">
              <a href="#" class="service-item international">
                <div class="service-content">
                  <h2 class="service-content-title lng-inter-deliv">Міжнародна доставка</h2>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a href="#" class="service-item address-mailing">
                <div class="service-content">
                  <h2 class="service-content-title lng-adress-send">Адресна розсилка</h2>
                </div>
              </a>
            </li> 
            <li class="card-item">
              <a href="#" class="service-item resp-storage">
                <div class="service-content">
                  <h2 class="service-content-title lng-resp-storage">Відповідальне зберігання</h2>
                </div>
              </a>
            </li>
            <li class="card-item ">
              <a href="#" class="service-item sorting">
                <div class="service-content">
                  <h2 class="service-content-title lng-sort-assembly">Сортування та комплектування</h2>
                </div>
              </a>
            </li> 
            <li class="card-item">
              <a href="#" class="service-item fulfillment">
                <div class="service-content">
                  <h2 class="service-content-title lng-fulfill">Фулфілмент</h2>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a href="#" class="service-item standart_cond">
                <div class="service-content">
                  <h2 class="service-content-title">STANDART</h2>
                </div>
              </a>
            </li> 
            <li class="card-item">
              <a href="#" class="service-item express_cond">
                <div class="service-content">
                  <!-- <img src="./images/icons_services/9_gr.png" alt="" width="60" height="60" loading="lazy"> -->
                  <h2 class="service-content-title">EXPRESS</h2>
                </div>
              </a>
            </li>
            <li class="card-item">
              <a href="#" class="service-item ukr_cond">
                <div class="service-content">
                  <!-- <img src="./images/icons_services/arrow_green.png" alt="" width="100" height="100" loading="lazy"> -->
                  <h2 class="service-content-title visually-hidden">Новини</h2>
                </div>
              </a>
            </li> 
            
          </ul>
        </div>
      </section>