<!-- ----Text part--- -->
<section class="page-section" data-action="srv-2">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items">
      <h1 class="page-header">
        <span class="page-header-icon"><img src="/src/images/icons_services/9_bl.png" /></span>
        <span class="page-title">EXPRESS</span>
      </h1>
      <p class="page-text">Кур'єрська служба EXPRESS MOTO надає послугу <strong>EXPRESS</strong>  для термінових доставок документів, кореспонденції, посилок, бандеролей, зразків, рекламних матеріалів та інших доставок. За даною послугою відбувається доставка в/з обласних центрів, а також по обласному центру наступного робочого дня до 14:00.</p>
      <p class="page-text">Доставка за послугою <strong>EXPRESS</strong> застосовується до наступних форматів:</p>
      <!-- <p class="page-text">Послуга STANDART по Україні здійснюється за наступними
        форматами:</p> -->
      <p class="page-text"><strong>«Конверт» </strong>- документарне відправлення
        фактичною або
        об'ємною вагою до 1 кг, вкладення якого може бути упаковано у фірмовий
        конверт або поліетиленовий
        пакет EXPRESS MOTO розміром не більше ніж (ширина - 25, довжина - 35,
        товщина - 1 см).</p>
      <p class="page-text"><strong>«Посилка» </strong>- відправлення, що складається з 1 місця, фактичною або об'ємною вагою якого не перевищує 10 кг та максимальна довжина однієї зі сторін не більше 35 см.</p>
      <!-- <p class="page-text"><strong>«Вантаж»</strong> - відправлення, загальна
        фактична або об'ємна вага якого
        не перевищує 1500 кг. Максимальна фактична або об'ємна вага одного місця не
        перевищує 21 кг, габарит
        по найбільшій зі сторін окремого місця до 170 см.</p> -->
      <!-- <p class="page-text"><strong>«Палета»</strong> - це цілісне або згруповане
        відправлення, яке закріплено
        на піддоні та обгорнуто стрейч-плівкою або іншим матеріалом. Отримайте
        більше інформації щодо Вашої
        відправки формату «Палета», cкориставшись багатоканальним телефоном
        <strong>Call-центру 0 800 503
          503</strong>.
      </p> -->
      <p class="page-text page-text-link"><a href="#"
          target="_blank">Тарифи на
          доставку по Україні</a></p>

      <p class="page-text">Для відправлень формата <strong>«Вантаж»</strong> та <strong>«Палета»
        </strong>діє тільки послуга<a
          href="#"
          target="_blank"><strong> STANDART.</strong> </a></p>

      <p class="page-text">Для здійснення «надтермінових доставок» документів та конвертів «день у день» скористайтеся послугою <a
          href="#"
          target="_blank"><strong>SUPER EXPRESS.</strong> </a>Дана послуга діє у містах Київ та Дніпро.</p>

      <p class="page-text page-text-link"><a href="#"
          target="_blank">Детальніше про Доставку по Україні</a></p>
      <!-- <p class="page-text"> </p> -->
      <p class="page-text-link"><a href="#" target="_blank">Відстежити онлайн</a>
      </p>
    </div>
    <include src="./partials/card_items.html"></include>
  </div>
</section>

