<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items wrap-payment">
      <h1 class="page-header">
        <!-- <span class="page-header-icon"><img src="/src/images/icons_services/2_bl.png" /></span> -->
        <span class="page-title">ПРАВИЛА ТА ПРОЦЕДУРИ</span>
      </h1>
      <p class="page-text"><strong>Правила та процедури</strong></p>
      <p class="page-text"><strong>Затверджено: Додаток до Наказу № 1601/23 від  16.01.2023 року</strong></p>
      <a href="/src/images/pdf/rules.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 1. Тарифи по Україні</strong></p>
      <a href="/src/images/pdf/addition_1.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 2. Тарифи на міжнародну доставку</strong></p>
      <a href="/src/images/pdf/addition_2.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 3. Форма анкети для укладення договору</strong></p>
      <a href="/src/images/pdf/addition_3.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 4. Бланк Накладної</strong></p>
      <a href="/src/images/pdf/addition_4.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 5. Зразок акту про пошкодження</strong></p>
      <a href="/src/images/pdf/addition_5.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 6. Зразок акту про втрату</strong></p>
      <a href="/src/images/pdf/addition_6.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 7. Форма для адресного списку Одержувачів</strong></p>
      <a href="/src/images/pdf/addition_7.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 8. Зразок заявки на доставку Відправлень за адресним списком</strong></p>
      <a href="/src/images/pdf/addition_8.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 9. Додаткові тарифи </strong></p>
      <a href="/src/images/pdf/addition_9.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 10. Послуги по додатковому пакуванню та тариф на коробки</strong></p>
      <a href="/src/images/pdf/addition_10.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 11. Відправлення, перевезення яких не приймаються до перевезення</strong></p>
      <a href="/src/images/pdf/addition_11.pdf" class="" target="_blank"><p>Завантажити</p> </a>

      <p class="page-text"><strong>Додаток № 12 Зразок Договору</strong></p>
      <a href="/src/images/pdf/addition_12.doc" class="" target="_blank"><p>Завантажити</p> </a>
      <!-- <p class="page-text"><strong>Увага!</strong></p>
      <p class="page-text">Перерахування по розрахунковому рахунку (IBAN) здійснюється тільки після отримання номеру замовлення співробітником Колл-центру за телефоном 0 800 503 503 або іншим зручним способом.<strong>Обов'язково вкажіть номер замовлення у рядку "Призначення платежу".</strong></p>
      <p class="page-text page-text-link">Реквізити для оплати<a href="#"
          target="_blank">Завантажити</a></p>
      <img alt="" height="291" src="/src/images/payment/account_ukr_1.jpg" style="float:left" width="380">
      <p class="page-text">Способи оплати:</p>
      <p class="page-text"><strong>1. ПриватБанк</strong></p>
      
      <p class="page-text">Термінали ПриватБанку.<a
          href="#"
          target="_blank"><strong>Карта</strong> </a></p>
      <p class="page-text">Інструкції по оплаті за розрахунковим рахунком:</p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через термінал ПриватБанку</strong> </a></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через Приват24 (ноутбук, комп’ютер)</strong> </a></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через мобільний додаток Приват24</strong> </a></p>
      <p class="page-text"><strong>2. Portmone</strong></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Перехід на сторінку</strong> </a></p> -->

      <!-- <p class="page-text page-text-link"><a href="#"
          target="_blank">Викликати кур'єра онлайн</a></p> -->
      
      <!-- <p class="page-text-link"><a href="#" target="_blank">Укласти угоду та скористатися послугами</a>
      </p> -->
    </div>
    <!-- <include src="./partials/card_items.html"></include> -->
  </div>
</section>

