<!-- ----Text part--- -->
<section class="page-section" data-action="srv-6">
  <div class="page-section-wrapper container">
    <!-- <a id="main-content"></a>        -->
    <div class="page-section-items">
      <h1 class="page-header">
        <span class="page-header-icon"><img src="/src/images/icons_services/5_bl.png" /></span>
        <span class="page-title">ВІДПОВІДАЛЬНЕ ЗБЕРІГАННЯ</span>
      </h1>
      <p class="page-text">Наша компанія здійснює необхідні складські послуги у сучасних складських приміщеннях, розташованих у місцях зі зручною транспортною розв'язкою.</p>
      <p class="page-text">Переваги складських послуг від EXPRESS MOTO:</p>
      <p class="page-text">- зручні рампи прямого доступу для вантажних автомобілів;</p>
      <p class="page-text">- сучасна інформаційна система складування;</p>
      <p class="page-text">- прийом та перевірка, сортування та підрахунок;</p>
      <p class="page-text">- управління товарними запасами;
      </p>
      <p class="page-text">- зберігання на піддонах на полицях;</p>

      <p class="page-text">- обробка замовлень;</p>

      <p class="page-text">- складальні послуги;</p>
      <p class="page-text">- упаковка та перепакування;
      </p>
      <p class="page-text">- маркування, етикетування;</p>

      <p class="page-text">- онлайн-моніторинг запасів.</p>

      <p class="page-text">Наша компанія професійно виконує запити клієнта щодо збереження, конфіденційності, стандартним складським роботам, а також щодо інших додаткових послуг.</p>

      <p class="page-text-link"><a href="#" target="_blank">Відстежити онлайн</a>
      </p>
    </div>
    <include src="./partials/card_items.html"></include>
  </div>
</section>

