<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container wrap-courier">
    <!-- <a id="main-content"></a>        -->
    <div class="page-section-items">
      <h1 class="page-header">
        <span class="page-title">НАПИСАТИ НАМ</span>
      </h1> 
      
      <form class="form-send-mail" action="/email" method="post" id="webform-client-form-75" accept-charset="UTF-8">
          
        <label class="send-label" for="edit-submitted-name"> 
          Ваше імʼя <span class="form-required" title="Це поле - обов’язкове.">*</span>
        </label>
        <input required="required" class="form-input-name" type="text" id="edit-submitted-name"
          name="submitted[name]" value="" size="300px" maxlength="128" />
        
        <label class="send-label" for="edit-submitted-mail">
          Email <span class="form-required" title="Це поле - обов’язкове.">*</span>
        </label>
        <input required="required" class="form-input-mail" type="text" id="edit-submitted-mail"
          name="submitted[mail]" value="" size="60" maxlength="128" />

        <label class="send-label" for="edit-submitted-pytannya">Питання <span class="form-required" title="Це поле - обов’язкове.">*</span></label>
        <textarea required="required"  class="form-input-textarea" id="edit-submitted-pytannya" name="submitted[pytannya]" cols="60" rows="5"></textarea>

        <div class="captcha">
          <input type="hidden" name="captcha_sid" value="317563">
          <input type="hidden" name="captcha_token" value="be92d3e45bf162c2dfb76a134b8ddc37">
          <input type="hidden" name="captcha_response" value="Google no captcha">
          <div class="g-recaptcha" data-sitekey="6LeNOJEUAAAAAJzgr37OmGmKP3bxwpi2kXjURQGg" data-theme="light" data-type="image">
            <div style="width: 304px; height: 78px;">
              <div>
                <iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-fbnxo1jxc67q" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeNOJEUAAAAAJzgr37OmGmKP3bxwpi2kXjURQGg&amp;co=aHR0cHM6Ly9leG1vdG8uY29tOjQ0Mw..&amp;hl=uk&amp;type=image&amp;v=-QbJqHfGOUB8nuVRLvzFLVed&amp;theme=light&amp;size=normal&amp;cb=2xxs4s2tpye"></iframe>
              </div>
              <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
            </div>
            <iframe style="display: none;"></iframe>
          </div>
        </div>
        <button class="button form-button button-mail" type="submit"><span class="lng-section-">Надіслати</span>
        </button>
      </form>    
    </div>
  </div>
</section>


