<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items">
      <h1 class="page-header">
        <span class="page-header-icon"><img src="/src/images/icons_services/2_bl.png" /></span>
        <span class="page-title">ДИПЛОМАТИЧНА ПОШТА ТА ВАНТАЖІ</span>
      </h1>
      <p class="page-text">EXPRESS MOTO допоможе Вам у відправці та отриманні дипломатичної пошти:</p>
      <p class="page-text"><strong>Імпорт пошти</strong></p>
      <p class="page-text">- Документарне оформлення та отримання пошти в аеропорту Бориспіль</p>
      <p class="page-text">- Оплата всіх платежів</p>
      <p class="page-text">- Доставка в пункт призначення отримувача</p>
      <p class="page-text"><strong>Експорт пошти</strong></p>
      <p class="page-text">- Забір вантажу з офісу відправника</p>
      <p class="page-text">- Документарне оформлення та доставка пошти в аеропорт Бориспіль</p>
      <p class="page-text">- Оплата всіх платежів</p>

      <p class="page-text"><strong>Забезпечення вантажних перевезень та надання додаткових послуг для офіційних делегацій.</strong></p>

      <p class="page-text">За більш детальною інформацією звертайтесь за електронною адресою <a
          href="#"
          target="_blank"><strong>sales@exmoto.com.</strong> </a></p>

      <p class="page-text page-text-link"><a href="#"
          target="_blank">Викликати кур'єра онлайн</a></p>
      <!-- <p class="page-text"> </p> -->
      <p class="page-text-link"><a href="#" target="_blank">Укласти угоду та скористатися послугами</a>
      </p>
    </div>
    <include src="./partials/card_items.html"></include>
  </div>
</section>

