/*++++++++++++ PAGE courier and Send Email +++++++++++++++++++++*/
.captcha {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
.form-call-courier, .form-send-mail {
    width: 400px;
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form-input-name, .form-input-phone, .form-input-mail{
    margin-bottom: 15px;
    height: 40px;
    padding-left: 10px;
}
.form-input-textarea{
    margin-bottom: 15px;
    padding-left: 10px;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbfbfb;
    padding: 15px 30px;
    gap: 10px;

}

.form-button:hover {
    background-color: var(--footer-bg-color);
}



@media screen and (max-width: 980px) {
    .form-button {
        font-size: 16px;
    }
}

@media screen and (max-width: 787px) {
    .form-button {
        padding: 15px;
        font-size: 14px;
    }
}

@media screen and (max-width: 430px) {
    .form-call-courier, .form-send-mail {
        width: 300px;
    }
    .form-button {
        font-size: 11px;
    }
}

@media screen and (max-width: 340px) {
    .form-button {
        margin: 0 auto;
    }
}