<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items">
      <h1 class="page-header">
        <span class="page-header-icon"><img src="/src/images/icons_services/6_bl.png" /></span>
        <span class="page-title">СОРТУВАННЯ І КОМПЛЕКТУВАННЯ
</span>
      </h1>
      <p class="page-text">Для обробки великої кількості найменувань Ваших відправлень EXPRESS MOTO пропонує послугу сортування та комплектування.</p>
      <p class="page-text">Ваші переваги при використанні цієї послуги:</p>
      <p class="page-text">- можливість використання послуги дооформлення, сортування, комплектації, маркування, обробки та упакування;</p>
      <p class="page-text">- гнучкість за часом обробки пошти та вантажу;</p>
      <p class="page-text">- попереднє сортування пошти з використанням індивідуального коду клієнта;</p>
      <p class="page-text">- використання послуги незалежно від того, здійснюєте ви відправку всередині країни чи у міжнародному напрямку;
      </p>
      <p class="page-text">- спеціалізована обробка, доставка пошти та вантажів пріоритетних відправлень, які вимагають тимчасових рамок, у відповідності до запиту замовника;</p>

      <p class="page-text">- аутсорсинг для обробки пошти - виконання усіх процесів, які вимагають спеціальних інструкцій в обробці масових листів та іншої пошти: річні звіти, рахунки за інтернет та зв'язок, рекламна література про продукт, об'ємні друкарські матеріали, торгівельні зразки, журнали, періодичні видання та інше.</p>

      <!-- <p class="page-text">- складальні послуги;</p>
      <p class="page-text">- упаковка та перепакування;
      </p>
      <p class="page-text">- маркування, етикетування;</p>

      <p class="page-text">- онлайн-моніторинг запасів.</p>

      <p class="page-text">Наша компанія професійно виконує запити клієнта щодо збереження, конфіденційності, стандартним складським роботам, а також щодо інших додаткових послуг.</p> -->


      <p class="page-text page-text-link"><a href="#"
          target="_blank">Дізнатись більше інформації щодо додаткових послуг</a></p>
      <!-- <p class="page-text"> </p> -->
      <p class="page-text-link"><a href="#" target="_blank">Відстежити онлайн</a>
      </p>
    </div>
    <include src="./partials/card_items.html"></include>
  </div>
</section>

