<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items wrap-payment">
      <h1 class="page-header">
        <!-- <span class="page-header-icon"><img src="/src/images/icons_services/2_bl.png" /></span> -->
        <span class="page-title">ЗАПИТАННЯ ТА ВІДПОВІДІ</span>
      </h1>
      <div class="question__content">
          <div class="accordeon">
<!-- 1 -->
            <p class="page-text page-text-link"><strong>1. Відео</strong><a href="#"
          target="_blank"> PAKLINE GROUP</a></p>
           
<!-- 2 -->
            <p class="page-text"><strong>2. Доставка пошти. 2.1 Доставка по Україні</strong></p>
            <div class="accordeon__item">
              <button class="accordeon__title">2.1.1 Скільки коштує доставка по Україні?</button>
              <div class="accordeon__text">
                <p class="page-text">Вартість доставки залежить від того, який тип Відправлення Вам необхідно доставити: документ, посилку, вантаж. Також в розрахунку витрат враховується місто доставки, місце призначення, габарити, вага посилки або вантажу, сервіс та тариф на доставку.</p>
                <p class="page-text">Ви можете дізнатись вартість доствки за телефоном<strong> Call-центру 0 800 503 503.</strong></p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">2.1.2 Скільки часу займає доставка по Україні?</button>
              <div class="accordeon__text">
                <p class="page-text">Ви можете отримати необхідну інформацію в Call-центрі за телефоном<strong> 0 800 503 503.</strong></p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">2.1.3 Як дізнатись розмір своєї знижки?</button>
              <div class="accordeon__text">
                <p class="page-text">Ви можете дізнатись про свою знижку за безкоштовним телефоном<strong> Call-центру 0 800 503 503</strong> або у свого менеджера.</p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">2.1.4 У чому відмінність між послугами STANDART, EXPRESS та SUPER EXPRESS?</button>
              <div class="accordeon__text">
                <p class="page-text">Докладніше про послуги ви можете дізнатись на сторінках:<a
                href="#"
                target="_blank"><strong> STANDART</strong></a>, <a
                href="#"
                target="_blank"><strong>EXPRESS</strong></a>, <a
                href="#"
                target="_blank"><strong>SUPER EXPRESS</strong></a> </p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">2.1.5 Які відправлення заборонені?</button>
              <div class="accordeon__text">
                <p class="page-text">Перелік посилок та вантажів, які заборонено до транспортування по Україні та по Світу:</p>
                <ul>
                  <li>- небезпечні вантажі</li>
                  <li>- легкозаймисті товари</li>
                  <li>- продукти харчування</li>
                  <li>- грошові кошти (чеки, банкноти та будь-які інші ваучери з номінальною вартістю)</li>
                  <li>- рідини (для доставки або збору з іншого місця за межами України)</li>

                  <li>- кислоти, включно з бактеріями</li>
                  <li>- антикваріат</li>
                  <li>- вибухові речовини (у тому числі феєрверки)</li>
                  <li>- клей</li>
                  <li>- рідке чорнило та речі, які містять чорнило</li>

                  <li>- домашня худоба</li>
                  <li>- металеві сітки (великого розміру)</li>
                  <li>- наркотичні речовини</li>
                  <li>- фарби та фарбові речовини</li>
                  <li>- порнографія</li>

                  <li>- ювелірні вироби</li>
                  <li>- дорогоцінні метали</li>
                  <li>- радіоактивні матеріали</li>
                  <li>- сеціалізована побутова техніка</li>                  
                </ul>
                <p class="page-text">Звертаємо Вашу увагу на те, що даний перелік може бути доповненим іншими забороненими товарами до відправлення. Для того, щоб з'ясувати чи є Ваше відправлення припустимим до перевезення, зверніться за телефоном<strong> Call-центру 0 800 503 503.</strong></p>
              </div>
            </div>

            
<!-- 3 -->
            <p class="page-text"><strong>2. Доставка пошти. 2.2 Міжнародна доставка</strong></p>
            <div class="accordeon__item">
              <button class="accordeon__title">2.2.1 Скільки коштує доставка за кордон?</button>
              <div class="accordeon__text">
                <p class="page-text">Для того, щоб дізнатись вартість міжнародної доставки, необхідно звернутися за багатоканальним телефоном<strong> Call-центру 0 800 503 503.</strong></p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">2.2.2 Скільки часу займе доставка до потрібної країни?</button>
              <div class="accordeon__text">
                <p class="page-text">Час доставки міжнародної пошти та вантажів залежить від відправлення та тарифної зони конкретної країни пункту призначння.</p>
                <p class="page-text">З'ясуйте час доставки Вашої міжнародної пошти за багатоканальним телефоном<strong> 0 800 503 503.</strong></p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">2.2.3 Які посилки та вантажі заборонено відправляти в інші країни?</button>
              <div class="accordeon__text">
                <p class="page-text">Перелік заборонених поштових відправлень відповідає забороненому переліку, який відноситься до кожного пункту призначення окремої країни.</p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">2.2.4 Яка процедура відправки по світу?</button>
              <div class="accordeon__text">
                <p class="page-text">Для міжнародної відправки посилок та вантажів необхідно надати супровідні документи, що приведені на сторінці<a
                href="#"
                target="_blank"><strong> «Міжнародна доставка».</strong></a></p>
              </div>
            </div>
            
<!-- 4 -->
            <p class="page-text"><strong>2. Доставка пошти. 2.3 Додаткові послуги</strong></p>
            <div class="accordeon__item">
              <button class="accordeon__title">2.3.1 Які додаткові послуги надає EXPRESS MOTO?</button>
              <div class="accordeon__text">
                <p class="page-text">Тариф додаткових послуг з доставки, такі як упакування, перепакування, довідправлення пошти та інші, можна дізнатись на сторінці<a
                href="#"
                target="_blank"><strong> «Додаткові посуги».</strong></a></p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">2.3.2 Зробити замовлення пакувальних матеріалів</button>
              <div class="accordeon__text">
                <p class="page-text">Замовити пакувальні матеріали для відправок можна в клієнтському кабінеті у формі зв'язку з менеджером за вказаною електронною адресою, а також за телефоном<strong>  Call-центру 0 800 503 503.</strong></p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">2.3.3 Які посилки та вантажі не підлягають до зберігання на складі EXPRESS MOTO?</button>
              <div class="accordeon__text">
                <p class="page-text">Перелік посилок та вантажів, які не підлягають до зберігання відповідає переліку заборонених до відправки посилок та вантажів (Див. п.2.1.5).</p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">2.3.4 Як упаковувати крихкі вантажі?</button>
              <div class="accordeon__text">
                <p class="page-text">Перед оформленням відправки крихких вантажів та посилок, необхідно обов'язково проконсультуватися з вашим менеджером по засобу відправки та необхідних упакувальних матеріалів з протиударними властивостями. У випадку неналежної упаковки Відправлення, раніше не обумовленої та не затверженої, EXPRESS MOTO, не несе відповідальності за збереження даної посилки або вантажу.</p>
              </div>
            </div>
<!-- 5 -->
            <p class="page-text"><strong>3. Отримання пошти. 3.1 Відстеження</strong></p>
            <div class="accordeon__item">
              <button class="accordeon__title">3.1.1 Як можна дізнатися про статус відправки?</button>
              <div class="accordeon__text">
                <p class="page-text">Онлайн-сервіс відстеження дозволяє дізнатись місце знаходження однієї або декількох відправлень одночасно (у пошуку вказуються номера накладних через кому). Ви можете отримати детальну інформацію про точний час відправки, етапи транспортування та розрахункову дату доставки.</p>
                <p class="page-text">Використовуйте<a
                href="#"
                target="_blank"><strong> трекінг відстеження</strong></a> для того, щоб дізнатися стаутус відправлення.</p>
                <p class="page-text">Для уточнення необхідної інформації про відправлення, ви можете скористатися телефоном<strong> Call-центра 0 800 503 503.</strong></p>
              </div>
            </div>
<!-- 6 -->
            <p class="page-text"><strong>3. Отримання пошти. 3.2 Зміна адреси</strong></p>
            <div class="accordeon__item">
              <button class="accordeon__title">3.2.1 Як можна змінити адресу доставки?</button>
              <div class="accordeon__text">
                <p class="page-text">Для того, щоб змінити адресу доставки, необхідно відправити запит менеджеру за вказаною електронною адресою на сторінці<a
                href="#"
                target="_blank"><strong> "Ідентифікаційні дані"</strong></a> або скориставшись телефоном <strong> Call-центру 0 800 503 503.</strong></p>
              </div>
            </div>
<!-- 7 -->
            <p class="page-text"><strong>3. Отримання пошти. 3.3 Переадресація</strong></p>
            <div class="accordeon__item">
              <button class="accordeon__title">3.3.1 Дозволити комусь отримати вашу переадресацію</button>
              <div class="accordeon__text">
                <p class="page-text">Для юридичних осіб, з метою конфіденційності та з міркувань безпеки, необхідно надати скан-копію листа-дозволу на фірмовому бланку з контактами та реквізитами Отримувача переадресації за елекронною адресою<a
                href="#"
                target="_blank"><strong> sales@exmoto.com.</strong></a></p>
              </div>
            </div>
<!-- 8 -->
            <p class="page-text"><strong>3. Отримання пошти 3.4 Проблеми з отриманням пошти (пошта, що запізнилася або відсутня пошта)</strong></p>
            <div class="accordeon__item">
              <button class="accordeon__title">3.4.1 Повернення пошти</button>
              <div class="accordeon__text">
               <p class="page-text">У випадку, якщо Відправлення не було вручено Отримувачу не через перевізника, протягом 7 днів від дня відправки, Відправленяя буде повернено до Відправника.</p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">3.4.2 Процес вирішення проблеми з поштою, що запізнилася, втраченою або не доставленою поштою</button>
              <div class="accordeon__text">
                <p class="page-text">Якщо пошта не була доставлена вчасно - це свідчить про виникнення непердбачених форс-мажорних обставин, про які ви отримаєте всю інформацію, звернувшись в<strong> Call-центр 0 800 503 503.</strong></p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">3.4.3 Як оброблюється пошта з декількома адресами?</button>
              <div class="accordeon__text">
                <p class="page-text">Служба EXPRESS MOTO візьме на себе відповідальність у здійсненні розсилці декількома адресатам, використовуючи перелік адресів клієнта. Детальну інформацію во можете отримати в<strong> Call-центрі  0 800 503 503.</strong></p>
              </div>
            </div>
            <div class="accordeon__item">
              <button class="accordeon__title">3.4.4 Що може привести до того, що пошта не буде отримана вчасно?</button>
              <div class="accordeon__text">
                <ol>
                  <li>1. Клієнт знаходиться за вказаною адресою, але в момент прибуття кур’єра (з 09:00 до 18:00) відсутній або офіс зачинений.</li>
                  <li>2. Вказано невірну адресу Отримувача (у місті немає вулиці з такою назвою, на вулиці немає дому з такою нумерацією тощо).</li>
                  <li>3. Адреса фізично існує, але Отримувача (організація або фізична особа) по ньому знайти неможливо (фірма переїхала, ліквідована, фізична особа виїхала з квартири тощо) – та визначити нову адресу неможливо.</li>
                  <li>4. Отримувач відмовляється прийняти Відправлення через:</li>
                  <li>5. При відправці не документарного вмісту по світу, у країни ближнього зарубіжжя, до Відправлення не додано необхідні супровідні документи: інвойс, лист, копія паспорту, код ІПН, чек, тощо.</li>

                  <li>6. Затримка прибуття або відправлення вантажного рейсу перевезення Консолідації.</li>
                  <li>7. Отримувач вирішив сам забрати Відправлення зі станції EXPRESS MOTO.</li>
                  <li>8. У випадку затримки Консолідації/Відправлення на митниці.</li>
                  <li>9. При відправці не документарних Відправлень по світу, у країни ближнього зарубіжжя до Відправлення додані неправильно оформленні, в потрібної кількості екземплярів, супровідні документи – інвойс, лист, і т.п.</li>
                  <li>10. У накладній вказано юридичну адресу Отримувача, яка відрізняється від фізичного місцезнаходження Отримувача.</li>

                  <li>11. У накладній вказано неповну адресу (немає номеру дому тощо). Або абонентська скринька у поштовому відділенні.</li>
                  <li>12. При доставці пакету з поміткою «оплата Отримувачем» Клієнт відмовляється сплатити доставку або надати гарантійний лист про оплату.</li>
                  <li>13. У Отримувача вихідний (неробочий) день, включно офіційні державні свята.</li>
                  <li>14. Доставка Відправлення потребує телефонного контакту з Отримувачем або Відправником, та неможливо домовитися про зустріч (телефон Клієнта не відповідає, невірний або не вказано у накладній).</li>
                  <li>15. Відмова третьої особи сплачувати рахунки за доставку Відправлень або несвоєчасна оплата.</li>

                  <li>16. Контрольним зважуванням або обмірами виявлено невідповідність фізичної та/або об’ємної ваги значенням, що були зазначені у накладних.</li>
                  <li>17. Вміст Відправлення відноситься до категорії швидкопсувних, крихких речей. Вміст Відправлення потребує особливих умов зберігання при транспортуванні.</li>
                  <li>18. Упаковка, що надається Відправником, не відповідає характеру вмісту Відправлення та не забезпечує його збереження в процесі транспортування в нормальних умовах. Відправник передав кур’єру вміст Відправлення, яке не було не запаковане.</li>
                  <li>19. Зміна виду послуги, типу Платника та виду оплати – за вказівкою Клієнта.</li>
                  <li>20. Метеорологічні умови, що перешкоджають доставці Відправлення у місті та області.</li>

                  <li>21. Вручення Відправлення особисто в руки Отримувачу, який вказаний в Декларації, неможливо.</li>
                </ol>
                <p class="page-text">Звертаємо Вашу увагу на те, що даний список може бути доповнено другими ситуаціями, які можуть привести до того, що пошта не буде доставлена. Для того, щоб з’ясувати причину, через що Ваше Відправлення не було доставлено та способи усунення виниклої ситуації, зверніться за телефоном<strong> Call-центру 0 800 503 503.</strong></p>
              </div>
            </div>
<!-- 9 -->
            <p class="page-text"><strong>4. Обслуговування клієнтів. 4.1 Технічні питання</strong></p>
            <div class="accordeon__item">
              <button class="accordeon__title">Чи є сертифікат на курс?</button>
              <div class="accordeon__text">
                <ol>
                  <li>
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                  <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                  <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                  <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності</li>
                  <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                </ol>
              </div>
            </div>
<!-- 10 -->
            <p class="page-text"><strong>5. Поштові робочі дні та свята</strong></p>
            <div class="accordeon__item">
              <button class="accordeon__title">Чи є сертифікат на курс?</button>
              <div class="accordeon__text">
                <ol>
                  <li>
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                  <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                  <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                  <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності</li>
                  <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                </ol>
              </div>
            </div>
<!-- 11 -->
            <p class="page-text"><strong>6. Процес подачі скарг</strong></p>
            <div class="accordeon__item">
              <button class="accordeon__title">Чи є сертифікат на курс?</button>
              <div class="accordeon__text">
                <ol>
                  <li>
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                  <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                  <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                  <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності</li>
                  <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
    

   
      
      <!-- <p class="page-text page-text-link">Реквізити для оплати<a href="#"
          target="_blank">Завантажити</a></p> -->
      <!-- <img alt="" height="291" src="/src/images/payment/account_ukr_1.jpg" style="float:left" width="380"> -->
      <!-- <p class="page-text">Способи оплати:</p> -->
      <!-- <p class="page-text page-text-link"><a href="#"
          target="_blank">Викликати кур'єра онлайн</a></p> -->
      <!-- <p class="page-text-link"><a href="#" target="_blank">Укласти угоду та скористатися послугами</a>
      </p> -->
    </div>
    <!-- <include src="./partials/card_items.html"></include> -->
  </div>
</section>
    <!-- ---------- -->
    <!-- <section class="question section">
      <div class="container section__inner">
        <div class="section__descr">
          <h2 class="title">Часті запитання</h2>   
        </div>
        <div class="question__content">
          <div class="accordeon"> -->
<!-- 1 -->
            <!-- <div class="accordeon__item">
              <button class="accordeon__title">Які запахи доступні для свічок?</button>
              <div class="accordeon__text">
                <ol>
                  <li>
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                  <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                  <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                  <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності</li>
                  <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                </ol>
              </div>
            </div> -->
<!-- 2 -->
            <!-- <div class="accordeon__item">
              <button class="accordeon__title">Як довго горять свічки?</button>
              <div class="accordeon__text">
                <ol>
                  <li>
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                  <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                  <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                  <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності</li>
                  <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                </ol>
              </div>
            </div> -->
<!-- 3 -->
            <!-- <div class="accordeon__item">
              <button class="accordeon__title">Чи можна зробити замовлення на індивідуальний дизайн свічки?</button>
              <div class="accordeon__text">
                <ol>
                  <li>
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                  <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                  <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                  <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності</li>
                  <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                </ol>
              </div>
            </div> -->
<!-- 4 -->
            <!-- <div class="accordeon__item">
              <button class="accordeon__title">Які є варіанти доставки?</button>
              <div class="accordeon__text">
                <ol>
                  <li>
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                  <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                  <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                  <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності</li>
                  <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                </ol>
              </div>
            </div> -->
<!-- 5 -->
            <!-- <div class="accordeon__item">
              <button class="accordeon__title">Як оплачувати замовлення?</button>
              <div class="accordeon__text">
                <ol>
                  <li>
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                  <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                  <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                  <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності</li>
                  <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                </ol>
              </div>
            </div> -->
<!-- 6 -->
            <!-- <div class="accordeon__item">
              <button class="accordeon__title">Як довго триває курс?</button>
              <div class="accordeon__text">
                <ol>
                  <li>
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                  <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                  <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                  <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності</li>
                  <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                </ol>
              </div>
            </div> -->
<!-- 7 -->
            <!-- <div class="accordeon__item">
              <button class="accordeon__title">Яка ціна на курс?</button>
              <div class="accordeon__text">
                <ol>
                  <li>
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                  <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                  <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                  <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності</li>
                  <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                </ol>
              </div>
            </div> -->
<!-- 8 -->
            <!-- <div class="accordeon__item">
              <button class="accordeon__title">Чи є сертифікат на курс?</button>
              <div class="accordeon__text">
                <ol>
                  <li>
                  Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                  <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                  <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                  <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності</li>
                  <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                </ol>
              </div>
            </div> -->
          <!-- </div>
        </div>
      </div>
    </section> -->
    <!-- -------------------- -->

