<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items wrap-payment">
      <h1 class="page-header">
        <!-- <span class="page-header-icon"><img src="/src/images/icons_services/2_bl.png" /></span> -->
        <span class="page-title">ЗАПИТАННЯ ТА ВІДПОВІДІ</span>
      </h1>
      
      <!-- <p class="page-text"><strong>Увага!</strong></p>
      <p class="page-text">Перерахування по розрахунковому рахунку (IBAN) здійснюється тільки після отримання номеру замовлення співробітником Колл-центру за телефоном 0 800 503 503 або іншим зручним способом.<strong>Обов'язково вкажіть номер замовлення у рядку "Призначення платежу".</strong></p>
      <p class="page-text page-text-link">Реквізити для оплати<a href="#"
          target="_blank">Завантажити</a></p>
      <img alt="" height="291" src="/src/images/payment/account_ukr_1.jpg" style="float:left" width="380">
      <p class="page-text">Способи оплати:</p>
      <p class="page-text"><strong>1. ПриватБанк</strong></p>
      <p class="page-text">Використовуйте Термінали самообслуговування та сервіс Приват 24 для онлайн-оплати банківською платіжною карткою Visa/MasterCard.</p>
      <p class="page-text">Термінали ПриватБанку.<a
          href="#"
          target="_blank"><strong>Карта</strong> </a></p>
      <p class="page-text">Інструкції по оплаті за розрахунковим рахунком:</p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через термінал ПриватБанку</strong> </a></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через Приват24 (ноутбук, комп’ютер)</strong> </a></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Сплатити через мобільний додаток Приват24</strong> </a></p>
      <p class="page-text"><strong>2. Portmone</strong></p>
      <p class="page-text"><a
          href="#"
          target="_blank"><strong>Перехід на сторінку</strong> </a></p> -->

      <!-- <p class="page-text page-text-link"><a href="#"
          target="_blank">Викликати кур'єра онлайн</a></p> -->
      
      <!-- <p class="page-text-link"><a href="#" target="_blank">Укласти угоду та скористатися послугами</a>
      </p> -->
    </div>
    <!-- <include src="./partials/card_items.html"></include> -->
  </div>
</section>

