<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items wrap-payment">
      <h1 class="page-header">
        <!-- <span class="page-header-icon"><img src="/src/images/icons_services/2_bl.png" /></span> -->
        <span class="page-title">ЗАПИТАННЯ ТА ВІДПОВІДІ</span>
      </h1>
      
      <p class="page-text"><strong>1. Відео</strong></p>

      <p class="page-text"><strong>2. Доставка пошти. 2.1 Доставка по Україні</strong></p>
      
      <p class="page-text"><strong>2. Доставка пошти. 2.2 Міжнародна доставка</strong></p>

      <p class="page-text"><strong>2. Доставка пошти. 2.3 Додаткові послуги</strong></p>

      <p class="page-text"><strong>Отримання пошти. 3.1 Відстеження</strong></p>

      <p class="page-text"><strong>3. Отримання пошти. 3.2 Зміна адреси</strong></p>

      <p class="page-text"><strong>3. Отримання пошти. 3.3 Переадресація</strong></p>

      <p class="page-text"><strong>3. Отримання пошти 3.4 Проблеми з отриманням пошти (пошта, що запізнилася або відсутня пошта)</strong></p>

      <p class="page-text"><strong>4. Обслуговування клієнтів. 4.1 Технічні питання</strong></p>

      <p class="page-text"><strong>5. Поштові робочі дні та свята</strong></p>

      <p class="page-text"><strong>6. Процес подачі скарг</strong></p>
      
      <!-- <p class="page-text page-text-link">Реквізити для оплати<a href="#"
          target="_blank">Завантажити</a></p> -->
      <!-- <img alt="" height="291" src="/src/images/payment/account_ukr_1.jpg" style="float:left" width="380"> -->
      <!-- <p class="page-text">Способи оплати:</p> -->
      <!-- <p class="page-text page-text-link"><a href="#"
          target="_blank">Викликати кур'єра онлайн</a></p> -->
      <!-- <p class="page-text-link"><a href="#" target="_blank">Укласти угоду та скористатися послугами</a>
      </p> -->
    </div>
    <!-- <include src="./partials/card_items.html"></include> -->
  </div>
</section>

