<div class="view-content">
      <!-- <a href="/service/dostavka-po-kyyevu" class="card-item" id="srv-0"> -->
      <a href="./delKyivPage.html" class="card-item" id="srv-0">
        <div class="gray"><img class="img-responsive"
            src="https://exmoto.com/sites/default/files/kyiv_grey_0.png" width="59"
            height="59" alt="" /></div>
        <div class="title">Доставка по Києву</div>
      </a>
      <a href="./delUkrainePage.html" class="card-item" id="srv-9">
        <div class="gray"><img class="img-responsive"
            src="https://exmoto.com/sites/default/files/9_0.png" width="64" height="63"
            alt="" />
        </div>
        <div class="title">Доставка по Україні</div>
      </a>
      <a href="./internationalPage.html" class="card-item" id="srv-8">
        <div class="gray"><img class="img-responsive"
            src="https://exmoto.com/sites/default/files/8_0.png" width="64" height="59"
            alt="" />
        </div>
        <div class="title">Міжнародна доставка</div>
      </a>
      <a href="./addressPage.html" class="card-item" id="srv-7">
        <div class="gray"><img class="img-responsive"
            src="https://exmoto.com/sites/default/files/7_0.png" width="59" height="60"
            alt="" />
        </div>
        <div class="title">Адресна розсилка</div>
      </a>
      <a href="./safekeepingPage.html" class="card-item" id="srv-6">
        <div class="gray"><img class="img-responsive"
            src="https://exmoto.com/sites/default/files/6_0.png" width="66" height="63"
            alt="" />
        </div>
        <div class="title">Відповідальне зберігання</div>
      </a>
      <a href="./sorting_pickingPage.html" class="card-item" id="srv-5">
        <div class="gray"><img class="img-responsive"
            src="https://exmoto.com/sites/default/files/5_0.png" width="56" height="61"
            alt="" />
        </div>
        <div class="title">Сортування і комплектування</div>
      </a>
      <a href="./fulfillmentPage.html" class="card-item" id="srv-4">
        <div class="gray"><img class="img-responsive"
            src="https://exmoto.com/sites/default/files/4_0.png" width="67" height="63"
            alt="" />
        </div>
        <div class="title">Фулфілмент</div>
      </a>
      <a href="./standartPage.html" class="card-item" id="srv-3">
        <div class="gray"><img class="img-responsive"
            src="https://exmoto.com/sites/default/files/3_0.png" width="65" height="44"
            alt="" />
        </div>
        <div class="title">STANDART</div>
      </a>
      <a href="./expressPage.html" class="card-item" id="srv-2">
        <div class="gray"><img class="img-responsive"
            src="https://exmoto.com/sites/default/files/2_0.png" width="62" height="44"
            alt="" />
        </div>
        <div class="title">EXPRESS</div>
      </a>
    </div>