    <!-- Подвал FOOTER -->
    <footer class="footer">
      <div class="container footer-content">
        <div class="footer__logo-text">
          <a href="./index.html" class="logo logo__footer">
            <img class="logo__footer-img"  src="/src/images/foot_logo.png" alt="">
          </a>
          <p class="footer-text">
            Компанія «Експрес Мото Україна» є кур'єрською службою доставки документів, кореспонденції, пошти, вантажів для бізнесу по Україні та по Світу 
          </p>
          <p class="footer-text">
            З 2017 року ТОВ "Експрес Мото Україна" входить в PAKLINE GROUP - 3PL- оператор з величезним досвідом з надання комплексу логістичних послуг
          </p>
        </div>
        <div class="list footer__list-menu">
          <ul class="list footer__list-moto">
            <li class="footer__list-title">
              <h3>Express Moto</h3>
            </li>
            <li class="footer__list-item">
              <a href="" class="lng-footer-about-company">Про компанію</a>
            </li>
            <li class="footer__list-item">
              <a href="/src/vacanciesPage.html" class="lng-menu-seven">Вакансії</a>
            </li>
            <li class="footer__list-item">
              <a href="" class="lng-footer-news-exmoto">Нове в EXPRESS MOTO</a>
            </li>
            <li class="footer__list-item ">
              <a href="" class="lng-footer-official-info">Офіційна інформація</a>
            </li>
            <li class="footer__list-item">
              <a href="" class="lng-footer-agr-edo">Угода про ЕДО</a>
            </li>  
          </ul>
          <ul class="list footer__list-service">
            <li class="footer__list-title">
              <h3 class="lng-menu-three">Послуги</h3>
            </li>
            <li class="footer__list-item">
              <a href="/src/internationalPage.html" class="lng-inter-deliv">Міжнародна доставка</a>
            </li>
            <li class="footer__list-item">
              <a href="/src/delUkrainePage.html" class="lng-ukr-deliv">Доставка по Україні</a>
            </li>
            <li class="footer__list-item">
              <a href="/src/addressPage.html" class="lng-adress-send">Адресна розсилка</a>
            </li>
            <li class="footer__list-item">
              <a href="/src/sorting_pickingPage.html" class="lng-sort-assembly">Сортування та комплектування</a>
            </li>
            <li class="footer__list-item">
              <a href="/src/safekeepingPage.html" class="lng-resp-storage">Відповідальне зберігання</a>
            </li>
            <li class="footer__list-item">
              <a href="/src/fulfillmentPage.html" class="lng-fulfill">Фулфілмент</a>
            </li>
            <li class="footer__list-item">
              <a href="/src/addServPage.html" class="lng-add-service">Додаткові послуги</a>
            </li>  
          </ul>
          <ul class="list footer__list-contacts">
            <li class="footer__list-title">
              <h3 class="lng-footer-service-centre">Центр обслуговування</h3>
            </li>
            <li class="footer__list-item">
              <a href="/src/sendEmailPage.html" class="lng-send-email">Надіслати лист</a>
            </li>
            <li class="footer__list-item">
              <a href="/src/questionsPage.html" class="lng-quest-answ">Запитання та відповіді</a>
            </li>
            <li class="footer__list-item">
              <a href="/src/rulesPage.html" class="lng-rules-proc">Правила та процедури</a>
            </li>
            <li class="footer__list-item">
              <a href="/src/contactsPage.html" class="lng-our-contacts">Контакти</a>
            </li> 
          </ul>
        </div>
        <div class="footer__contacts-social">
          <div class="item-tel">
              <a href="tel:0800503503" class="contact-nav-link footer-phone"
                >0 <span>800</span> 503 503</a>
          </div>
          <ul class="footer-soc-list list">
            <li class="footer-soc-item">
              <a href="#" class="footer-soc-link twitter_2">
                <svg class="footer-soc-icon">
                  <use href="./images/icons_all.svg#icon-twitter_2"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a href="#" class="footer-soc-link facebook_3">
                <svg class="footer-soc-icon">
                  <use href="./images/icons_all.svg#icon-facebook_3"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a href="#" class="footer-soc-link twitter_2">
                <svg class="footer-soc-icon">
                  <use href="./images/icons_all.svg#icon-twitter_2"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a href="#" class="footer-soc-link instagram_1">
                <svg class="footer-soc-icon">
                  <use href="./images/icons_all.svg#icon-instagram_1"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a href="#" class="footer-soc-link linkedin_4">
                <svg class="footer-soc-icon">
                  <use href="./images/icons_all.svg#icon-linkedin_4"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="item-button">
            <button class="button button-footer" type="submit">
              <svg class="icon-right-footer" width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M23 12H5"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M17 6L23 12L17 18" 
                   stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              <span class="lng-menu-six">Вхід</span>
            </button>
          </div>
        </div>
      </div>
    </footer>