<header>
      <div class="container main-nav">
        <nav class="nav">
          <div class="nav-contacts">
            <div>
              <a href="./index.html" class="logo logo__header">
            <img class="logo__header-img"  src="images/logo_1.png" alt="">
            </a>
            
            
            <select class="language-switcher">
              <option value="ua" selected >UA</option>
              <option value="ru" >RU</option>
            </select>
            </div>
            
            
            <div class="contact-nav list">
              <div class="number">
                <input type="text" class="input__number" placeholder="Номер накладної" required
                autocomplete="off">
                <button class="button button-header" type="submit">
                  <svg  class="icon-right-header" width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M23 12H5"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M17 6L23 12L17 18"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span class="lng-menu-one">Відстежити</span>
                </button>
              </div>
              <div class="phone-burger">
                
                <a href="tel:0800503503" class="contact-nav-link header-phone">0 <span>800</span> 503 503</a> 
                <!-- Бургер -->
                <button
                  class="menu-toggle menu-btn-burger"
                  aria-expanded="false"
                  aria-controls="mobile-menu"
                  data-modal-open
                >
                  <svg class="icon-icon-menu" width="32" height="22">
                    <use href="./images/icons_all.svg#icon-icon-menu"></use>
                  </svg>
                </button> 
              </div>  
            </div>
          </div>
          
          <ul class="site-nav list">
            <li class="site-nav-item">
              <a href="#" class="nav-link current lng-menu-two">Виклик кур'єра</a>
            </li>

            <li class="site-nav-item">
              <div class="site-nav-menu">
                <!-- <a href="#" class="nav-link arrow__link"> -->
                  <span class="lng-menu-three">Послуги</span>
                <!-- </a> -->
                  <svg class="arrowCaretUp" width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 20L16 10L26 20"   stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg> 
              </div>
              
              <ul class="submenu list">
                <li><a href="/src/standartPage.html">STANDART</a></li>
                <li><a href="/src/standartPage_copy.html">EXPRESS</a></li>
                <li><a href="#">SUPER EXPRESS</a></li>
                <li><a href="#" class="lng-resp-storage">Відповідальне зберігання</a></li>
                <li><a href="#" class="lng-sort-assembly">Сортування та комплектування</a></li>
                <li><a href="#" class="lng-fulfill">Фулфілмент</a></li>
                <li><a href="#" class="lng-dip-mail">Дипломатична пошта</a></li>
              </ul>
            </li>

            <li class="site-nav-item">
              <div class="site-nav-menu">
              <!-- <a href="#" class="nav-link arrow__link"> -->
                <span class="lng-menu-four">Кур'єрська доставка</span>
                <svg class="arrowCaretUp" width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 20L16 10L26 20"   stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <!-- </a> -->
              </div>
              <ul class="submenu list">
                <li><a href="#" class="lng-inter-deliv">Міжнародна доставка</a></li>
                <li><a href="#" class="lng-kiyv-deliv">Доставка по Києву</a></li>
                <li><a href="#" class="lng-ukr-deliv">Доставка по Україні</a></li>
                <li><a href="#" class="lng-adress-send">Адресна розсилка</a></li>
                <li><a href="#" class="lng-add-service">Додаткові послуги</a></li>
              </ul>
            </li>

            <li class="site-nav-item">
              <div class="site-nav-menu">
              <!-- <a href="#" class="nav-link arrow__link"> -->
                <span class="lng-menu-five">Для клієнтів</span>
                <svg class="arrowCaretUp" width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 20L16 10L26 20"   stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <!-- </a> -->
              </div>
              <ul class="submenu list">
                <li><a href="#" class="lng-send-email">Надіслати лист</a></li>
                <li><a href="#" class="lng-paym-detail">Оплата за реквізитами</a></li>
                <li><a href="#" class="lng-quest-answ">Запитання та відповіді</a></li>
                <li><a href="#" class="lng-our-contacts">Контакти</a></li>
                <li><a href="#" class="lng-rules-proc">Правила та процедури</a></li>
                <li><a href="#" class="lng-private-room">Особистий кабінет</a></li>
              </ul>
            </li>

            <li class="site-nav-item">
              <div class="site-nav-menu">
              <!-- <a href="#" class="nav-link arrow__link"> -->
                <span class="lng-menu-six">Вхід</span>
                <svg class="arrowCaretUp" width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 20L16 10L26 20"   stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              <!-- </a> -->
              </div>
              <ul class="submenu list">
                <li><a href="#">В мене є аккаунт</a></li>
                <li><a href="#">Створити аккаунт</a></li>
                <li><a href="#">Відновлення паролю</a></li>
              </ul>
            </li>
            <li class="site-nav-item">
              <a href="#" class="nav-link lng-menu-seven">Вакансії</a>
            </li>
          </ul>
        </nav>
        
        
      </div>
    </header>