    <!-- MOBILE MENU -->
<div class="backdrop is-hidden" data-modal>
  <!-- <div class="menu-container js-menu-container modal" id="mobile-menu"> -->
  <div class="modal">
      <button class="menu-toggle menu-btn-close" data-modal-close>
          <svg
            fill="currentColor"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            width="15"
            height="15">
            <path
              fill-rule="evenodd"
              d="M32 3.223 28.777 0 16 12.777 3.223 0 0 3.223 12.777 16 0 28.777 3.223 32 16 19.223 28.777 32 32 28.777 19.223 16 32 3.223z"
              clip-rule="evenodd"
            ></path>
          </svg>
      </button>
          <!-- ----выпадающие элементы меню на модалке при адаптивах---- -->
      <ul class="mobile-menu menu-open list" id="mmAll-btn">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link link current lng-menu-one" href="#">Відстежити</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link link lng-menu-two" href="/src/courierPage.html">Виклик кур'єра</a>  
        </li>
        <li class="mobile-menu-item " >
          <a class="mobile-menu-link link lng-menu-three" href="#" data-action="mm-one">Послуги</a>
          <ul class="submenu-open list hiddens" id="mm-one">
            <li><a href="/src/standartPage.html">STANDART</a></li>
            <li><a href="/src/expressPage.html">EXPRESS</a></li>
            <li><a href="/src/superExpressPage.html">SUPER EXPRESS</a></li>
            <li><a href="/src/safekeepingPage.html" class="lng-resp-storage">Відповідальне зберігання</a></li>
            <li><a href="/src/sorting_pickingPage.html" class="lng-sort-assembly">Сортування та комплектування</a></li>
            <li><a href="/src/fulfillmentPage.html" class="lng-fulfill">Фулфілмент</a></li>
            <li><a href="/src/diplomaticPage.html" class="lng-dip-mail">Дипломатична пошта</a></li>
          </ul>
        </li>        
        <li class="mobile-menu-item ">
          <a class="mobile-menu-link link lng-menu-four" href="#" data-action="mm-two">Кур'єрська доставка</a>
          <ul class="submenu-open list hiddens" id="mm-two">
            <li><a href="/src/internationalPage.html" class="lng-inter-deliv">Міжнародна доставка</a></li>
            <li><a href="/src/delKyivPage.html" class="kiyv-deliv">Доставка по Києву</a></li>
            <li><a href="/src/delUkrainePage.html" class="lng-ukr-deliv">Доставка по Україні</a></li>
            <li><a href="/src/addressPage.html" class="lng-adress-send">Адресна розсилка</a></li>
            <li><a href="/src/addServPage.html" class="lng-add-service">Додаткові послуги</a></li>
          </ul>
        </li>

        <li class="mobile-menu-item ">
          <a class="mobile-menu-link link lng-menu-five" href="#"  data-action="mm-three">Для клієнтів</a>
          <ul class="submenu-open list hiddens" id="mm-three">
            <li><a href="/src/sendEmailPage.html" class="lng-send-email">Надіслати лист</a></li>
            <li><a href="/src/paymentPage.html" class="lng-paym-detail">Оплата за реквізитами</a></li>
            <li><a href="#" class="lng-quest-answ">Запитання та відповіді</a></li>
            <li><a href="#" class="lng-our-contacts">Контакти</a></li>
            <li><a href="#" class="lng-rules-proc">Правила та процедури</a></li>
            <!-- <li><a href="#" class="lng-private-room">Особистий кабінет</a></li> -->
          </ul>
        </li>

        <li class="mobile-menu-item ">
          <a class="mobile-menu-link link lng-menu-six" href="#" data-action="mm-four">Вхід</a>
          <!-- <ul class="submenu-open list hiddens" id="mm-four">
            <li><a href="#">В мене є аккаунт</a></li>
            <li><a href="#">Створити аккаунт</a></li>
            <li><a href="#">Відновлення паролю</a></li>
          </ul> -->
        </li>

        <li class="mobile-menu-item">
          <a class="mobile-menu-link link lng-menu-seven" href="/src/vacanciesPage.html">Вакансії</a>
        </li>
      </ul>
  </div>
</div>