<section class="hero-section section">
          <div class="container hero_main">            
            <!-- Slider main container -->
            <div class="main-swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide slide1"> 
                  <div class="hero__descr">
                    <h1 class="hero__title lng-hero-made-call">
                    Зробіть виклик
                    </h1>
                    <p class="hero__text lng-hero-made-call-and">Також</p>
                    <button class="hero__button button lng-made-call" type="button">
                    Зробити виклик
                    </button>
                  </div>
                  <!-- <div class="hero__item-img-wrap">
                    <img class="hero__item-img" src="images/gif/courier_dostavka_7.gif" alt="">
                  </div> -->
                </div>

                <div class="swiper-slide slide2">
                  <div class="hero__descr">
                    <h1 class="hero__title lng-hero-cour-deliv">
                    Кур'єрська доставка пошти
                    </h1>
                    <p class="hero__text lng-hero-cour-ukr">По Україні</p>
                    <button class="hero__button button lng-made-call" type="button">
                    Зробити виклик
                    </button>
                  </div>
                  <!-- <div class="hero__item-img-wrap">
                    <img class="hero__item-img" src="images/gif/ezgif.com-optimize_1.gif" alt="">
                  </div> -->
                </div>

                <div class="swiper-slide slide3">
                  <div class="hero__descr">
                    <h1 class="hero__title lng-resp-storage">
                    Відповідальне зберігання
                    </h1>
                    <p class="hero__text lng-hero-stor-serv">Складські послуги. Фулфілмент</p>
                    <button class="hero__button button lng-made-call" type="button">
                    Зробити виклик
                    </button>
                  </div>
                  <!-- <div class="hero__item-img-wrap"> -->
                    <!-- <img class="hero__item-img" src="images/gif/ezgif.com-optimize_2.gif" alt=""> -->
                    <!-- <img class="hero__item-img" src="images/gif/ezgif.com-optimize.gif.mp4" alt=""> -->
                    <!-- <video aria-hidden="true" class="
                    hero__item-img" autoplay="" loop="" playsinline=""><source src="images/gif/ezgif.com-optimize.gif.mp4" type="video/mp4"> Your browser does not support the video tag. </video>
                  </div> -->
                </div>

                <div class="swiper-slide slide4">
                  <div class="hero__descr">
                    <h1 class="hero__title lng-hero-inter-deliv">
                    Міжнародна доставка по світу
                    </h1>
                    <p class="hero__text lng-hero-inter-deliv-form">пошти та вантажів</p>
                    <button class="hero__button button lng-made-call" type="button">
                    Зробити виклик
                    </button>
                  </div>
                  <!-- <div class="hero__item-img-wrap">
                    <img class="hero__item-img" src="images/gif/ezgif.com-optimize_4.gif" alt="">
                  </div> -->
                </div>

                <div class="swiper-slide slide5">
                  <div class="hero__descr">
                    <h1 class="hero__title lng-hero-express-serv">
                    Експрес доставка
                    </h1>
                    <p class="hero__text lng-hero-express-serv-form">"Двері-Двері"</p>
                    <button class="hero__button button lng-hero-express-call" type="button">
                    Виклик в один клік
                    </button>
                  </div>
                  <!-- <div class="hero__item-img-wrap">
                    <img class="hero__item-img" src="images/gif/copy_5_c.gif" alt="">
                  </div> -->
                </div>
                ...
              </div> 
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>

              <!-- If we need navigation buttons -->
              <!-- <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div> -->

              <!-- If we need scrollbar -->
              <!-- <div class="swiper-scrollbar"></div> -->
            </div>            
          </div>
      </section>