<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items">
      <h1 class="page-header">
        <!-- <span class="page-header-icon"><img src="/src/images/icons_services/1_bl.png" /></span> -->
        <span class="page-title">ВИКЛИКАТИ КУР’ЄРА</span>
      </h1>
      <form class="form-call-courier" action="/neworder" method="post"
      id="webform-client-form-356" accept-charset="UTF-8">
        <label class="control-label" for="edit-submitted-contact">
          Ваше імʼя <span class="form-required" title="Це поле - обов’язкове.">*</span>
        </label>
        <input required="required" class="" type="text" id="edit-submitted-contact"
          name="submitted[contact]" value="" size="300px" maxlength="128" />
        <label class="control-label" for="edit-submitted-phone">
          Телефон № <span class="form-required" title="Це поле - обов’язкове.">*</span>
        </label>
        <input required="required" class="" type="text" id="edit-submitted-phone"
          name="submitted[phone]" value="" size="60" maxlength="128" />
        <input type="hidden" name="details[sid]" />
        <input type="hidden" name="details[page_num]" value="1" />
        <input type="hidden" name="details[page_count]" value="1" />
        <input type="hidden" name="details[finished]" value="0" />
        <input type="hidden" name="form_build_id" value="form-NToQRKb-Yzi3om56lJJdLKgxsfOgcrbv-RolhOxAp3I" />
        <input type="hidden" name="form_id" value="webform_client_form_356" />
        <div class="captcha">
          <input type="hidden" name="captcha_sid" value="317108" />
          <input type="hidden" name="captcha_token" value="2e08138713f31e0eb502e74b3a81d084" />
          <input type="hidden" name="captcha_response" value="Google no captcha" />
          <div class="g-recaptcha" data-sitekey="6LeNOJEUAAAAAJzgr37OmGmKP3bxwpi2kXjURQGg" data-theme="light"
            data-type="image"></div>
        </div>
        <div class="form-actions">
          <button class="webform-submit button-primary btn btn-primary form-submit" type="submit" name="op"
            value="Надіслати">Надіслати</button>
        </div>
    </form>
      <!-- <p class="page-text">EXPRESS MOTO UKRAINE – це кур’єрська служба з великим досвідом здійснення доставок для Бізнеса та з корпоративною культурою, що напрацьована роками та містить в собі якісний сервіс для клієнтів та сприятливі умови праці для співробітників.</p>
      <p class="page-text">Відповідальність, гнучкість, ініціативність, націленість на результат, підтримка та чуйність – це якості, з якими наші співробітники досягають високих професійних досягнень та кращих результатів для компанії в цілому.</p>
      <p class="page-text"><strong>Робота в EXPRESS MOTO – це:</strong></p>
      <ul class="page-text_wrapper">
        <li><p class="page-text">комфортні умови праці</p></li>
        <li><p class="page-text">офіційне працевлаштування</p></li>
        <li><p class="page-text">стажування та навчання</p></li>
        <li><p class="page-text">професійне зростання</p></li>
        <li><p class="page-text">конкурентна оплата праці</p></li>
        <li><p class="page-text">соціальні гарантії: оплачувана відпустка та лікарняні</p></li>
        <li><p class="page-text">зручний графік праці для студентів</p></li>
        <li><p class="page-text">дружня та доброзичлива команда</p></li>
      </ul>
      <p class="page-text">Оберіть вакансію та надішліть резюме за електронною адресою <a
          href="#"
          target="_blank"><strong>evgenij.cvir@exmoto.com​. </strong> </a></p>
      <p class="page-text"><strong>У нашій компанії зараз розміщені такі вакансії:</strong></p> -->
      
      <!-- <p class="page-text">Тариф – від 1450,0 грн;</p>
      <p class="page-text">Терміни доставки  –  1-2 робочих дні.</p> -->
      <!-- <p class="page-text">- Доставка в пункт призначення отримувача</p> -->
      <!-- <p class="page-text"><strong>STANDART</strong></p>
      <p class="page-text">Тариф – від 510,0 грн;</p>
      <p class="page-text">Терміни доставки  –  5-7 робочих днів;</p>

      <p class="page-text">Доставка документів до <strong>Польщі</strong>– від 800,0 грн;</p>
      <p class="page-text">Терміни доставки  –  3-5 робочих днів;</p> -->

      <!-- <p class="page-text"><strong>Бельгія, Латвія, Литва, Люксембург, Нідерланди, Німеччина, Словаччина, Угорщина,Чехія, Естонія</strong> – від 1250,0 грн.</p>
      <p class="page-text">Терміни доставки  –  5-8 робочих днів.</p> -->

      <!-- <p class="page-text"><a href="#"
          target="_blank">Усі вакансії компанії «Экспресс Мото Украина, ООО»</a> на <a href="#"
          target="_blank">Work.ua</a></p> -->
      <!-- <p class="page-text"> </p> -->
      <!-- <p><a href="#" target="_blank">Укласти угоду та скористатися послугами</a>
      </p> -->
    </div>
    <!-- <include src="./partials/card_items.html"></include> -->
  </div>
</section>

