<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container wrap-courier">
    <div class="page-section-items">
      <h1 class="page-header">
        <span class="page-title">ВИКЛИКАТИ КУР’ЄРА</span>
      </h1>
      
      <form class="form-call-courier" action="/neworder" method="post"
      id="webform-client-form-356" accept-charset="UTF-8">
        <!-- <label class="control-label" for="edit-submitted-contact"> -->
        <label class="courier-label" for="edit-submitted-name"> 
          Ваше імʼя <span class="form-required" title="Це поле - обов’язкове.">*</span>
        </label>
        <input required="required" class="form-input-name" type="text" id="edit-submitted-name"
          name="submitted[name]" value="" size="300px" maxlength="128" />
        <!-- <label class="control-label" for="edit-submitted-phone"> -->
        <label class="courier-label" for="edit-submitted-phone">
          Телефон № <span class="form-required" title="Це поле - обов’язкове.">*</span>
        </label>
        <input required="required" class="form-input-phone" type="text" id="edit-submitted-phone"
          name="submitted[phone]" value="" size="60" maxlength="128" />
          
        <div class="captcha">
          <input type="hidden" name="captcha_sid" value="317108" />
          <input type="hidden" name="captcha_token" value="2e08138713f31e0eb502e74b3a81d084" />
          <input type="hidden" name="captcha_response" value="Google no captcha" />
          <div class="g-recaptcha" data-sitekey="6LeNOJEUAAAAAJzgr37OmGmKP3bxwpi2kXjURQGg" data-theme="light"
            data-type="image"></div>
        </div>

        <button class="button form-button button-courier" type="submit">
          <span class="lng-section-">Надіслати</span>
        </button>
      </form>
    </div>
  </div>
</section>


      
