<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <a id="main-content"></a>       
    <div class="page-section-items">
      <h1 class="page-header">
        <!-- <span class="page-header-icon"><img src="/src/images/icons_services/3_bl.png" /></span> -->
        <span class="page-title">ТАРИФИ НА ДОДАТКОВІ ПОСЛУГИ</span>
      </h1>
      <p class="page-text">EXPRESS MOTO надає додаткові послуги, а саме:</p>
      <!-- ТАБЛИЦЯ -->
      <table border="0" cellpadding="0" cellspacing="0" style="max-width:800px"><tbody><tr><td class="rtecenter" style="width:280px">
<p><span style="font-size:14px"><strong>Послуга</strong></span></p>
</td>
<td class="rtecenter" style="width:393px">
<p><span style="font-size:14px"><strong>Примітка</strong></span></p>
</td>
</tr><tr><td style="width:280px">
<p><span style="font-size:14px">Доставка "особисто в руки" (Послуга поза сервісних гарантій)</span></p>
</td>
<td style="width:393px">
<p><span style="font-size:14px">Послуга діє для міжнародних відправлень так і для відправлень у межах України за послугою "Експрес". Обов'язковим є наявність мобільного номеру телефона отримувача.</span></p>
</td>
</tr><tr><td style="width:280px">
<p><span style="font-size:14px"><strong>Переадресування відправлення​:&nbsp;</strong></span></p>
</td>
<td style="width:393px">
<p><span style="font-size:14px">Послуга діє для міжнародних відправлень так і для відправлень у межах України та складає 100% від вартості відправлення.</span></p>
</td>
</tr><tr><td rowspan="2" style="width:280px">
<p><span style="font-size:14px"><strong>Оголошена вартість:</strong></span></p>
</td>
<td rowspan="2" style="width:393px">
<p><span style="font-size:14px">Оголошена вартість вказується у накладній в гривнях з ПДВ.&nbsp;</span></p>
<p><span style="font-size:14px">Максимальна оголошена вартість відправлення до 100 000 грн з ПДВ.</span></p>
<p><span style="font-size:14px">При відправленні оціночною вартістю більш ніж 9999 грн з ПДВ потрібні документи, які підтверджують вартість відправлення (це може бути чек або видаткова накладна з мокрою печаткою).</span></p>
<p><span style="font-size:14px">0-200 грн - без коміссії. </span></p>
<p><span style="font-size:14px">від 200 грн - 1%</span></p>
<p><span style="font-size:14px">Відправлення - 200 грн та вище, нараховується&nbsp;додатковий тариф у розмірі:</span></p>
</td>
</tr><tr></tr><tr><td style="width:280px">
<p><span style="font-size:14px">міжнародні відправлення</span></p>
</td>
<td style="width:393px">
<p><span style="font-size:14px">3% від оголошеної вартості</span></p>
</td>
</tr><tr><td style="width:280px">
<p><span style="font-size:14px">по Україні</span></p>
</td>
<td style="width:393px">
<p><span style="font-size:14px">1% від оголошеної вартості</span></p>
</td>
</tr></tbody></table>

      <p class="page-text">Надання доставки в зазначений час за узгодженням.</p>
      <!-- ТАБЛИЦЯ -->

      <p class="page-text">З 01.10.2023р. змінюються тарифи на спуск та підйом.</p>
      <!-- ТАБЛИЦЯ -->

      
      <p class="page-text">В залежності від місця призначення можливі випадки, коли деякі додаткові послуги недоступні. Для отримання інформації щодо додаткових послуг з приводу вашого відправлення зверніться за телефоном<strong>0 800 503 503 Call-центру.</strong></p>
      

      <!-- <p class="page-text">За більш детальною інформацією звертайтесь за електронною адресою <a
          href="#"
          target="_blank"><strong>sales@exmoto.com.</strong> </a></p> -->

      <!-- <p class="page-text"><a href="#"
          target="_blank">Викликати кур'єра онлайн</a></p> -->
      <!-- <p class="page-text"> </p> -->
      <!-- <p><a href="#" target="_blank">Укласти угоду та скористатися послугами</a>
      </p> -->
    </div>
    <include src="./partials/card_items.html"></include>
  </div>
</section>

