<!-- ----Text part--- -->
<section class="page-section">
  <div class="page-section-wrapper container">
    <!-- <a id="main-content"></a>        -->
    <div class="page-section-items">
      <h1 class="page-header">
        <!-- <span class="page-header-icon"><img src="/src/images/icons_services/3_bl.png" /></span> -->
        <span class="page-title">ТАРИФИ НА ДОДАТКОВІ ПОСЛУГИ</span>
      </h1>
      <p class="page-text ">EXPRESS MOTO надає додаткові послуги, а саме:</p>

      <!-- ТАБЛИЦЯ 1-->
      <table class="add-services_table">
        <thead>
          <tr>
            <th>Послуга</th>
            <th>Примітка</th>
          </tr>
        </thead>

        <tbody class="add-services_table-item">
          <tr>
            <td><strong>Доставка "особисто в руки" (Послуга поза сервісних гарантій):</strong></td>
            <td>Послуга діє для міжнародних відправлень так і для відправлень у межах України   за послугою "Експрес". Обов'язковим є наявність мобільного номеру телефона отримувача.<br>
              Надання доставки в зазначений час за узгодженням.</td>
          </tr>
          <tr>
            <td><strong>Переадресування відправлення​:</strong></td>
            <td>Послуга діє для міжнародних відправлень так і для відправлень у межах України та складає 100% від вартості відправлення.</td>
          </tr>
          <tr>
            <td><strong>Оголошена вартість:</strong></td>
            <td>Оголошена вартість вказується у накладній в гривнях з ПДВ.<br>
              Максимальна оголошена вартість відправлення до 100 000 грн з ПДВ.<br>
              При відправленні оціночною вартістю більш ніж 9999 грн з ПДВ потрібні документи, які підтверджують вартість відправлення (це може бути чек або видаткова накладна з мокрою печаткою).<br>
              0-200 грн - без коміссії.<br>
              від 200 грн - 1%<br>
              Відправлення - 200 грн та вище, нараховується додатковий тариф у розмірі:<br>
              Міжнародні відправлення: 3% від оголошеної вартості;<br>
              По Україні: 1% від оголошеної вартості.
            </td>
          </tr>   
        </tbody>
      </table>
      

      <!-- ТАБЛИЦЯ 2 -->
      <h2 class="page-text">Дооформлення, сортування, комплектування вантажу.</h2>
      <p class="page-text">Якщо відправник передає EXPRESS MOTO продукцію, що потребує підготовки до відправки – допакування, перепакування, сортування, колмплектування – стягується додатковий тариф в залежності від обраного виду оформлення та підготовки до надсилання відправлень.</p>
      <table class="add-services_table">
        <thead>
          <tr>
            <th>Послуга</th>
            <th>Вартість</th>
            <th>Примітка</th>
          </tr>
        </thead>

        <tbody class="add-services_table-item">
          <tr>
            <td><strong>Дооформлення</strong></td>
            <td>5%</td>
            <td>Велика кількість Відправлень, які Відправник не може передати кур'єру готовими до перевезення - Відправлення марковані Відправником і вимагають тільки уточнення ваги і дооформлення накладних; Відправлення, які Відправник передає на доставку без надання адресного списку або адресний список не відповідає стандартній формі EXPRESS MOTO</td>
          </tr>
          <tr>
            <td><strong>Сортування місць</strong> </td>
            <td>10%</td>
            <td>Відправник передає однорідну продукцію, яка комплектується у Відправлення цілими товарними упакуваннями</td>
          </tr>
          </tr>
          <tr>
            <td><strong>Штучне сортування</strong> </td>
            <td>15%</td>
            <td>Відправник передає різнорідну продукцію, для комплектування у Відправлення потрібно відкриття тари та штучний підрахунок середньогабаритних одиниць продукції</td>
          </tr>
          <tr>
            <td><strong>Складне штучне сортування</strong></td>
            <td>20%</td>
            <td>Відправник передає продукцію, для комплектування у Відправлення потрібно відкриття товарних упаковок та штучний підрахунок дрібних одиниць, ручний підрахунок листів, відпустку на вагу, лінійне відмірювання та ін.</td>
          </tr>
          <tr>
            <td><strong>Додаткове упакування</strong></td>
            <td>Тарифи відповідно обраному виду доупакувального матеріалу та амортизаційного наповнювача</td>
            <td>Відправник в момент замовлення кур'єра попереджає оператора Call-центру про необхідність додаткового упакування свого відправлення, надає розміри від-правлення/нь, характер вмісту, необхідність вкласти аморотізаційний наповнювач в коробки. Доупакування може проводитися як на території відправника, так і на складі станції EXPRESS MOTO перед відправкою.
            </td>
          </tr> 
          <tr>
            <td><strong>Пакувальні матеріали (конверти та пакети)</strong></td>
            <td>9 грн з ПДВ. </td>
            <td></td>
          </tr> 
          <tr>
            <td><strong>Простоювання транспортного засобу</strong></td>
            <td>9 грн/хв з ПДВ.</td>
            <td>У разі затримки автомобіля / мотокур'єра Перевізника більше 10 хвилин через неготовність до завантаження Відправлення на момент прибуття кур'єра EXPRESS MOTO нараховується додаткова оплата за «простій машини», починаючи з 1 хвилини.  
            </td>
          </tr> 
        </tbody>
      </table>

      <!-- <p class="page-text">З 01.10.2023р. змінюються тарифи на спуск та підйом.</p> -->


      <!-- ТАБЛИЦЯ 3 -->
      <h2 class="page-text">Тарифікація послуг "Спуск або підйом з/на поверх"</h2>
      <table class="add-services_table">
        <thead>
          <tr>
            <th>Вага до, кг</th>
            <th>Вартість, грн з ПДВ/поверх</th>
          </tr>
        </thead>

        <tbody class="add-services_table-item">
          <tr>
            <td>20</td>
            <td>Безкоштовно</td>
          </tr>
          <tr>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>100</td>
            <td>100</td>
          </tr>
          <tr>
            <td>200</td>
            <td>200</td>
          </tr>
          <tr>
            <td>300</td>
            <td>300</td>
          </tr>
          <tr>
            <td>400</td>
            <td>400</td>
          </tr> 
          <tr>
            <td>500</td>
            <td>500</td>
          </tr>
          <tr>
            <td>700</td>
            <td>700</td>
          </tr>
          <tr>
            <td>1000</td>
            <td>1000</td>
          </tr> 
          <tr>
            <td>Понад 1000 кг</td>
            <td>узгоджується додатково</td>
          </tr>    
        </tbody>
      </table>

      <p class="page-text">В залежності від місця призначення можливі випадки, коли деякі додаткові послуги недоступні. Для отримання інформації щодо додаткових послуг з приводу вашого відправлення зверніться за телефоном<strong> 0 800 503 503 Call-центру.</strong></p>

    </div>
  </div>
</section>

    